
/*-----------------------------------------------------
 * Reset (https://www.damianbarszcz.com)
 * Copyright 2020 Damian Barszcz
 *-----------------------------------------------------*/

/*-----------------------------
*             Reset
*----------------------------*/

        * {
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box; 
        }

        *,*:focus,*:hover{
                outline:none;
            }

        html, body {
                max-width: 100%;
                overflow-x: hidden;
        }

        html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
                margin: 0;
                padding: 0;
                border: 0;
                font-size: 100%;
                font-family:$page-font;
                vertical-align: baseline;
        }

        article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;}

        body { line-height: 1;}

        ol, ul, li { list-style: none;}

        blockquote, q { quotes: none;}

        blockquote { &:before, &:after { content: ''; content: none; }}

        q { &:before, &:after { content: ''; content: none; }}

        table { border-collapse: collapse; border-spacing: 0; }

        h1, h2, h3, h4, h5, h6{ font-family:$page-font; }

        p,a{ font-family:$page-font;}

        a{ text-decoration: none; }

        strong{  font-weight:$bold-weight;   }

        .g-container{
                margin:auto;
                position: relative;
                max-width: 1140px;
        }

        .wide-container{
                margin:auto;
                position: relative;
                max-width: 1440px;
        }

        [data-line-type="business-book"]{ border-bottom-color:$app-color-blue; }

        [data-line-type="astrophisics-book"]{  border-bottom-color:$app-color-red;  }

        [data-line-type="programming-book"]{ border-bottom-color:$app-color-green; }

        [data-line-type="other-type-book"]{ border-bottom-color:$app-color-yellow;  }


/*-----------------------------
*          App buttons
*----------------------------*/

        .btn{
                &--small{ @include pageButton;  }

                &--normal{ @include pageButton(130px);  }

                &--big{ @include pageButton(180px);  }

                &:active{  box-shadow: none; }

                &::-moz-focus-inner {
                        border: 0;
                        border: none;  
                }

                &:focus{
                        outline: 0;
                        box-shadow: none !important;
                }
        }

        //App Button White
        .app__button--white{
                background-color:$app-color-white;
                color:$app-color-black;

                &:hover{ color:$app-color-blue; }

                &:focus{ color:$app-color-blue; }
        }

        //App Button Dark
        .app__button--dark{
                background-color:$app-color-dark;
                color:$app-color-white;

                &:hover{ background-color:darken($app-color-dark, 15%); color:$app-color-white; }

                &:focus{ color:$app-color-white; }
        }

        //App Button Purple
        .app__button--purple{
                background-color:$app-color-purple;
                color:$app-color-white;

                &:hover{ background-color:darken($app-color-purple, 15%); color:$app-color-white; }

                &:focus{ color:$app-color-white; }
        }

        //App Button Blue
        .app__button--blue{
                background-color:$app-color-blue;
                color:$app-color-white;

                &:hover{ background-color: darken($app-color-blue, 15%); color:$app-color-white; }

                &:focus{ color:$app-color-white; }
        }

        //App Button Yellow
        .app__button--yellow{
                background-color:$app-color-yellow;
                color:$app-color-white;

                &:hover{ background-color:darken($app-color-yellow, 15%); color:$app-color-white; }

                &:focus{ color:$app-color-white; }
        }

        //App Button Red
        .app__button--red{
                background-color:$app-color-red;
                color:$app-color-white;

                &:hover{ background-color: darken($app-color-red, 15%); color:$app-color-white; }

                &:focus{ color:$app-color-white; }
        }

        //App Button Green
        .app__button--green{
                background-color:$app-color-green;
                color:$app-color-white;

                &:hover{ background-color: darken($app-color-green, 15%); color:$app-color-white; }

                &:focus{ color:$app-color-white; }
        }

        //App Button Gray
        .app__button--gray{
                background-color:$app-color-gray;
                color:$app-color-white;

                &:hover{ background-color: darken($app-color-gray, 15%); color:$app-color-white; }

                &:focus{ color:$app-color-white; }
        }

        .app__button--twhite{
                background-color:transparent;
                border:2px solid $app-color-white;
                border-color:$app-color-white;
                color:$app-color-white;

                &:hover{ color:$app-color-white; }

                &:focus{ color:$app-color-white; }               
        }

         //App Button Transparent-Blue
         .app__button--tblue{
                background-color:transparent;
                border-color:$app-color-blue;
                color:$app-color-blue;

                &:hover{ color:$app-color-blue; }

                &:focus{ color:$app-color-blue; }
        }

         //App Button Transparent-Red
         .app__button--tred{
                background-color:transparent;
                border-color:$app-color-red;
                color:$app-color-red;
        
                &:hover{ color:$app-color-red; }
        
                &:focus{ color:$app-color-red; }
         }

        .app__button--blue-disabled{
                background-color:$app-color-blue;
                border-color:$app-color-blue;
                color:$app-color-white;
                opacity:0.5;
                cursor:pointer;
                pointer-events: none;

                &:hover{ color:$app-color-white; }

                &:focus{ color:$app-color-white; }
        }

        .app__button--white-disabled{
                background-color:$app-color-white;
                border-color:$app-color-white;
                color:$app-color-dark;
                opacity:0.5;
                cursor:pointer;
                pointer-events: none;

                &:hover{ color:$app-color-dark; }

                &:focus{ color:$app-color-dark ;}
        }

        //App Button Transparent-Green
         .app__button--tgreen{
                background-color:transparent;
                border-color:$app-color-green;
                color:$app-color-green;

                &:hover{ color:$app-color-green; }

                &:focus{ color:$app-color-green; }
        }

        //App Button Transparent-Yellow
         .app__button--tyellow{
                background-color:transparent;
                border-color:$app-color-yellow;
                color:$app-color-yellow;

                &:hover{ color:$app-color-yellow;}

                &:focus{ color:$app-color-yellow; border-width:0.1875rem  !important; border-color:$app-color-yellow !important;}

                &:active{   border-width:0.1875rem  !important; border-color:$app-color-yellow !important;}
        }
        
        //App Button Transparent-Red
        .app__button--tred{
                background-color:transparent;
                border-color:$app-color-red;
                color:$app-color-red;
        
                &:hover{ color:$app-color-red;}
        
                &:focus{ color:$app-color-red; border-width:0.1875rem  !important; border-color:$app-color-red !important;}
        
                &:active{   border-width:0.1875rem  !important; border-color:$app-color-red !important;}
        }


        //App Button Transparent-Dark
        .app__button--tdark{
                background-color:transparent;
                border-color:$app-color-dark;
                color:$app-color-dark;

                &:hover{ color:$app-color-dark;}

                &:focus{ color:$app-color-dark; border-width:0.1875rem  !important; border-color:$app-color-dark !important;}

                &:active{   border-width:0.1875rem  !important; border-color:$app-color-dark !important;}
        }

    /**/
    /* FORM */
    /**/

        input,textarea{  box-sizing:content-box;  font-family:$page-font; }

        label{  font-family:$page-font; }

        button,
        input[type=reset],
        input[type=button],
        input[type=submit],
        input[type=checkbox],
        input[type=radio],
        input[type=search],
        select{
            box-sizing:border-box;
            background-color:transparent;
            border:none;
        }

        @mixin placeholder {
                ::-webkit-input-placeholder { @content }
                :-moz-placeholder           { @content }
                ::-moz-placeholder          { @content }
                :-ms-input-placeholder      { @content }
        }

        @include placeholder {
                font-weight:$regular-weight;
        }

        .form{
                box-sizing:border-box;

                //Form > Label
                &__label{
                        display:block;
                        padding-bottom:0.75rem;
                        font-weight: $light-bold-weight;
                        letter-spacing: 0rem;
                        color:$app-color-dark;

                        &-error{ color:$app-color-red;   }
                }

                //Form > Input + textarea
                &__input, &__textarea{
                       padding: 1.15rem 1.5rem;
                        width:100%;
                        box-sizing: border-box;

                        &_effect{
                                border: 0.1px solid $app-color-lsilver;
                                background-color:$app-color-white;
                                transition:$FastEaseInOut;
                                border-radius:3px;
                                font-family:$page-font;
                                font-size:$font-size-normal * 0.925;
                                color:$app-color-gray;
                        }

                        &-error{ border-color:$app-color-red !important;   }

                        &:focus{ border:0.1px solid $app-color-blue;   }
                }

                //Form > Alert
                &__alert-error{
                        position:relative;

                        &_effect{
                                line-height:1.25rem;
                                font-size:0.85rem;
                                color:$app-color-red;
                        }
                }

                &__incorrect{
                        margin:1.5rem 0 0.2rem;
                        padding: 1rem 1.2rem;
                        width: 100%;

                        &_effect{
                                text-align: left;
                                border-radius: 0;
                                border-width: 0 0 0 3px;
                                border-left-color:$app-color-red;
                                border-style: solid;
                                font-family:$page-font;
                                font-size:0.85rem;
                                color:$app-color-red;
                                box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
                        }
                }
        }
        

        [data-button-type="submit-button"]{
                display:flex;
                align-items:center;  

                &:focus:after {
                        border-color: transparent;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                }
        }

        .btn-disabled{
                cursor:not-allowed;
                pointer-events:none;
                opacity:0.35;
        }


      /**/
      /* LOADING  */
      /**/

        .loading__button{
                background-color:$app-color-silver;
                
                &--spinner {
                        left:50%;
                        transform:translateX(-50%);
        
                        @include loading-spinner;
                }
        }


/*---------------------------------
*    Articles progress bar
*--------------------------------*/    
      
        .snakke-progress{
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 0.25rem;

                &_modifier{
                        appearance: none;
                        border:none;
                        background-color: $app-color-white;
                }
        }

         ::-moz-progress-bar { 
                animation-name:progress_changer;
                animation-iteration-count: infinite;
                animation-duration: 12s;
        }

        @keyframes  progress_changer{

                0% { 
                        background-color: $app-color-blue;
                 }

                25% {
                        background-color: $app-color-red;
                }

                50% { 
                      background-color: $app-color-green;
                }

                100% {
                        background-color: $app-color-yellow;
                }
        }

/*-----------------------------
*        Msg success
*----------------------------*/
 
.msg-success{
        position:fixed;
        bottom:1.5rem;
        right:1.5rem;
        min-width:20rem;

        @include boxStylingDark;

        &_modifier{ z-index:1001; }
        
        &--fadeInSide{
                animation-name:  fadeInSide;
                animation-duration:0.5s;
                animation-fill-mode: forwards;
        }

        &--fadeOutSide{
                animation-name:  fadeOutSide;
                animation-duration:0.5s;
                animation-fill-mode: forwards;
        }

        &__inner{
                @include inlineFlexBetweenElements;
                padding:1.5rem;

                &-info{
                        color:$app-color-white;
                        &--title{
                                @include boxDescContent($font-size-normal, $bold-weight, $app-color-white); 
                        }

                        &--desc{ @include boxDescContent($font-size-normal, $regular-weight, $app-color-white);  }
                }
        }
}

 /*-----------------------------
*       Delete  modal
*----------------------------*/

.delete-modal{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        &_modifier{
                background-color:rgba(0,0,0,0.5);
                z-index: 1050;
        }

        &--fadeIn{
                animation-name:  fadeIn;
                animation-duration:0.5s;
                animation-fill-mode: forwards;
        }

        &--fadeOut{
                animation-name:  fadeOut;
                animation-duration:0.5s;
                animation-fill-mode: forwards;
        }

        // Delete modal > Dialog
        &__dialog{
                display: block;
                position:absolute;
                padding:3.5rem;
                left:50%;
                top:50%;
                width:31.25rem;
                min-height:35rem;

                &_modifier{
                        background-color: $app-color-white;
                        transform: translate(-50%,-50%);
                }

                // Delete modal > Dialog > Close
                &-close{
                        display: block;
                        position: absolute;
                        right:1rem;
                        top:1rem;
                        width:2rem;
                        height:2rem;

                        &_effect{
                                color:$app-color-gray;
                                cursor:pointer;
                                z-index:500;
                        }

                        &:focus{ outline: none; }
                }

                &-artwork{ text-align: center;  }

                // Delete modal > Dialog > Header
                &-header{
                        margin-top:0.5rem;

                        &_modifier{ text-align: center;  }

                        &--title{
                                @include boxHeading($font-size-extra-normal);
                        }

                        &--desc{ @include boxDescContent;  }
                }

                //delete modal > dialog > form
                &-form{
                        margin-top:2rem;

                        &-button{
                                margin-top:3.5rem;
                                text-align: center;

                                .btn--small{
                                        min-width: 134px;
                                }
                        }
                }
        }
}

    .form__input--file{
        height: 0;
        overflow: hidden;
        width: 0;
    }

    .form__alert-error{
        position:absolute;
    }

    .form{

        &--text{
                transform: translateY(0.5rem);
        }

        &--textarea{
                transform: translateY(-0.25rem);     
        }

        &--file{
                transform: translateY(-0.5rem);
        }

        &--category{
                transform: translateY(3.25rem);
        }
    }
    

 //////////////////////////////////////////////////////////  //////////////////////////////////////////////////////////  ////////////////////////////////////////////////////////// 
  //////////////////////////////////////////////////////////  //////////////////////////////////////////////////////////  ////////////////////////////////////////////////////////// 
   //////////////////////////////////////////////////////////  //////////////////////////////////////////////////////////  ////////////////////////////////////////////////////////// 

/*-----------------------------
*        Lightboxes
*----------------------------*/

.search-lightbox , .nav-lightbox{
        position: fixed;
        left:0;
        top:0;
        width:100%;
        height: 100%;
        background-color:rgba(0,0,0,0.35);
        z-index:99;
}

/*-----------------------------
*        Cookie Modal
*----------------------------*/

.cookie-modal{
        display: block;
        position: fixed;
        top:0;
        left:0;
        min-width:100%;
        min-height: 100%;

        &_modifier{
                background-color:rgba(0,0,0,0.5);
                z-index:9000;
        }

        &__dialog{
                display: block;
                position: absolute;
                padding:2rem;
                top:50%;
                left:50%;
                width:30rem;
                min-height: 25rem;

                &_modifier{
                        background-color:$app-color-white;
                        border-radius: 10px;
                        transform:translate(-50%, -50%);
                        z-index:9999;
                }
        }

        &__artwork{
                width:100%;
                text-align: center;
        }

        &__header{
                margin-top:1.5rem;
                padding:1rem;

                &_modifier{  text-align: center;  }

                &--title{    @include boxDescContent;     }

                &--desc{
                        margin-top:1rem;
                        @include boxDescContent;
                }
        }

        &__box{
                margin-top:1rem;
                width:100%;
                text-align: center;

                &--btn{
                        @include pageButton(90px);
                }
        }
}

/*-----------------------------
*        Site message
*----------------------------*/

.site-message{
        position: fixed;
        bottom:0;
        min-width: 100%;

        &_modifier{
                background-color:$app-color-white;
                border-top:1px solid $app-color-lsilver;
                z-index:9999;
        }

        &__inner{
                display: grid;
                grid-template-columns: 0.2fr 1fr;
                align-items: center;
                margin:auto;
                padding: 2em 1.5rem;
                max-width: 56.25rem;
        }

        &__artwork{  text-align:center; }

        &__header{
                &--title{  @include boxHeading($font-size-normal) }

                &--desc{  @include boxDescContent;  }
        }
}

/*-----------------------------
*        RWD System
*----------------------------*/

//Very large screen
@media (max-width: 1366px) {
        .wide-container{  max-width: 1140px; }
}

//Desktops, large screens
@media (max-width: 1200px) {
        .g-container{  width:88vw; }

        .wide-container{ width:88vw; }
}

//Small screens, laptops
@media (max-width: 960px) {
        .g-container{ width:88.5vw;  }

        .wide-container{ width:88.5vw; }
}

//iPads, Tablets
@media (max-width: 768px) {
        .g-container{  width:89vw; }

        .wide-container{ width:89vw;}

        .site-message{
                &__inner{ grid-template-columns: 0.5fr 1fr;  }
        }
}

//Mobile devices (horizonal)
@media (max-width: 576px) {
        .g-container{ width:89.5vw; }

        .wide-container{ width:89.5vw; }

        .site-message{
                &__inner{ grid-template-columns: 1fr;  }
        }
}

//Mobile devices
@media (max-width: 480px) {
        .g-container{ width:90vw;  }

        .wide-container{ width:90vw;  }
}

 //////////////////////////////////////////////////////////  //////////////////////////////////////////////////////////  ////////////////////////////////////////////////////////// 
//////////////////////////////////////////////////////////  //////////////////////////////////////////////////////////  ////////////////////////////////////////////////////////// 
//////////////////////////////////////////////////////////  //////////////////////////////////////////////////////////  ////////////////////////////////////////////////////////// 












        .d-logout{
                display:none;
        }


        .col-lg-8,.col-lg-7,.col-lg-6,.col-lg-5,.col-lg-4,.col-lg-3,.col-lg-2,.col-lg-1,.col-md,.col-md-auto,.col-md-12,.col-md-11,.col-md-10,.col-md-9,.col-md-8,.col-md-7,.col-md-6,.col-md-5,.col-md-4
        .col-md-3,.col-md-2,.col-md-1,.col-sm,.col-sm-auto,.col-sm-12,.col-sm-11,.col-sm-10,.col-sm-9,.col-sm-8,.col-sm-7,.col-sm-6,.col-sm-5,.col-sm-4,.col-sm-3,.col-sm-2,.col-sm-1
        .col,.col-auto,.col-12,.col-11,.col-10,.col-9,.col-8,.col-7,.col-6,.col-5,.col-4,.col-3,.col-2,
        .col-1 {
                position:relative;
                padding-right:0px;
                padding-left:0px;
                width:100%;
        }

         .owl-stage{  padding-left:0rem !important;  }

         .owl-nav{ display: none; }

         .owl-item {  display: inline-block; }


         .material__icon{
                cursor:pointer;
        }

        .form-group{
                position:relative;
        }

        .form-group--auth{
                margin-top:2.5rem;
        }


        .auth__validation{
                position:absolute;
                margin-top:0.5rem;

                &-alert{
                        font-size:$font-size-normal * 0.85;
                        color:$app-color-red;
                }
        }

        .main{
                margin:auto;
                max-width:1920px;
        }
  

        
