/*---------------------------------------------------------------
 * D_projects  (https://www.damianbarszcz.com)
 * Copyright 2021 Damian Barszcz
/*---------------------------------------------------------------

/*-----------------------------
*            D_Projects
*----------------------------*/

.d_projects{ @include accountArticleItem; }

.no-collection{
        margin: 3.5rem auto;
        padding:2rem 0 2rem;
        max-width: 40rem;

        &__header{
                text-align: center;

                &--title{ @include boxHeading($font-size-extra-normal);    }

                &--desc{ display:block; padding-top:1rem; @include boxDescContent; }
        }

        &__inner{
                margin-top:2rem;
                text-align: center;
        }
}
