/*-----------------------------------------------------
 * Article (https://www.damianbarszcz.com)
 * Copyright 2021 Damian Barszcz
 *-----------------------------------------------------*/

/*-----------------------------
*               Article
*----------------------------*/

.article{
        @include sectionDefinition;

        &_theme{   background-color:$app-color-white;  }

        // Article for Reviews
        &--book{
                // Article > Block 
                .article__block{ @include blockPadding(2rem, 0, 6rem)  }

                .article__phero{
                        &-artwork{  
                                @include backgroundBlockArtwork(100%, 45rem);                        
                                margin-bottom:2rem;
                        }
                }
        }

        // Article for Projects
        &--project{
                // Article > Block 
                .article__block{ @include blockPadding; }

                .article__phero{
                        @include inlineRepeatColElements(2, $columnSize: 1fr,$space: 8rem);
                        margin: 4.5rem 0 9rem;
                        align-items: center;
            
                        &-artwork{  @include backgroundBlockArtwork; }
                }
        }

        //Article > Block > Project hero
        &__phero{

                //Article > Block > Project Hero > Header
                &-header{
                        &--title{  @include boxHeading($font-size-big, $bold-weight, $app-color-gray);  }

                        &--desc{  @include boxDescContent($font-size-extra-normal, $regular-weight, $app-color-silver);   }
                }
         }

        //Article > Block > Component
        &__component{
                 margin-top:2rem;
                 width:100%;

                &_modifier{ border-bottom: 1px solid $app-color-lsilver; }

                &-inner{
                        display: grid;
                        grid-template-columns: 0.75fr 0.5fr;
                        align-items: center;
                        padding-bottom:1rem;
                 }

                &-info{
                        transform: translateY(-0.25rem);
                        &--author{ margin-left:1rem; color:$app-color-gray; line-height:3rem ;}
            
                        &--date{  margin-left:1rem; color:$app-color-blue; }
            
                        &--image{
                                display:inline-block;
                                width:2rem;
                                height:2rem;
                                background-image:url('../images/favicons/favicon.png');
                                transform:translateY(0.5rem);
                                @include  fullImage;
                        }
                }

                &-discussion{ text-align: right;  }
        }

        @include articleShare('article-body');

        // Article > Block > Content
        &__content{
                margin:5rem 0 5rem;

                &-inner{ @include boxCenter; text-align: left; }

                &--body{ position:relative;  }
        }

        // Article > Block > Holders
        &__holders{
                @include boxCenter;
                text-align: left;  

                &-tag { 
                        padding: 1rem 2.5rem;
                        margin-right:1rem;

                        &_modifier{
                                background-color:$app-color-lsilver;
                                border-radius: 25px;
                                font-size:$font-size-normal;
                                font-weight: $bold-weight;
                                color:$app-color-gray;
                        }
                 }
        }

        // Article > Block > Discussion
        &__discussion{
                padding-top:6rem;
                @include boxCenter;
         }
 }

/*-----------------------------
*              Related
*----------------------------*/

.related{
        @include sectionDefinition;

        &_theme{ background-color: $app-color-white; border-top: 1px solid $app-color-lsilver; }

        // Related > Block
        &__block{ @include blockPadding }

        &__block &__header{ @include sectionHeaderLeftV2  }

        // Related > Block > Articles
        @include articleItems;
}

/*-----------------------------
*        RWD System
*----------------------------*/

//Desktops, large screens
@media (max-width: 1200px) {

         // Article
        .article{
                 // Article .... article project
                &--project{
                        // Article > Block > Phero
                        .article__phero{
                                @include inlineRepeatColElements(2, $columnSize: 1fr,$space: 4rem);
                        }
                } 
        }

        // Related
        .related{           
                // Related > Block > Inner
                &__block &__inner{ @include  inlineRepeatColElements(3, 1fr, 1.5rem);  }
        }
}

//Small screens, laptops
@media (max-width: 960px) {

        // Article
        .article{
                
                // Article .... article book
                &--book{
                        // Article > Block > Phero
                        .article__phero{
                                &-artwork{  @include backgroundBlockArtwork(100%, 40rem);   }
                        }
                } 

                // Article .... article project
                &--project{
                        // Article > Block > Phero
                        .article__phero{
                                @include inlineRepeatColElements(2, $columnSize: 1fr,$space: 2rem);
                        }
                } 
        }

        // Related
        .related{       
                // Related  > Block > Inner > Articles
                &__block &__inner{ @include  inlineRepeatColElements(2, 1fr, 1.5rem);  }  
                // Related  > Block > Article
                &__article{
                        &:nth-child(3){ display: none;  }
                } 
        }
}

//iPads, Tablets
@media (max-width: 768px) {

        // Article
        .article{
                 // Article > Block 
                .article__block{ @include blockPadding(2rem, 0, 6rem)  }

                // Article > Phero
                .article__phero{
                        @include inlineRepeatColElements(1, 1fr,1rem);
                        margin-bottom:1rem;
                
                        // Article > Phero > Artwork
                        &-artwork{  @include backgroundBlockArtwork(100%, 30rem);   }

                        // Article > Phero > Header
                        &-header{
                                &--title{  @include boxHeading($font-size-extra-normal, $bold-weight, $app-color-gray);  }

                                &--desc{  @include boxDescContent($font-size-normal, $regular-weight, $app-color-silver);   }
                        }
                }

                &__content{
                        margin:2.5rem 0 2.5rem;
                }
        }

        // Related
        .related{    
              // Related  > Block > Articles
                &__block  &__inner{    @include  inlineRepeatColElements(2, 1fr, 1rem);   }
        } 
}

//Mobile devices (horizonal)
@media (max-width: 576px) {
        .article{
               // Article > Phero
               .article__phero{
                       // Article > Phero > Artwork
                       &-artwork{  @include backgroundBlockArtwork(100%, 25rem);   }
               }

                &__component{
                        &-inner{
                                display: grid;
                                grid-template-columns: (2,1fr);
                                grid-row-gap:2rem;
                        }
                }
        }

        // Related
        .related{    
                // Related  > Block > Articles
                  &__block  &__inner{    @include  inlineRepeatColElements(1, 1fr, 1.5rem);   }
          } 
}
