/*-----------------------------------------------------
 * Article (https://www.damianbarszcz.com)
 * Copyright 2021 Damian Barszcz
 *-----------------------------------------------------*/

@mixin header($color,$type){
        // Article > Header
        .article__header{

                @if($type=='book'){
                        padding-top:6rem;
                        min-width:100%;
                }

                @else{
                        padding-top:25rem;
                        padding-left: 5rem;
                        padding-right: 5rem;
                        max-width:50%;
                }

                &_modifier{  background-color:$color;  }

                &-inner{
                        margin:auto;
                        width:40vw;
                }

                &-data{
                        display:flex;
                        justify-content:space-between;
                        align-items:center;
                        margin-bottom:1rem;
                }

                .text-dark{ color:$app-color-dark; }

                .text-light{ color:$app-color-white;  }

                &--category{
                        @include pageButton(90px);
                        box-shadow:none;
                }

                $bookCategory: (#{$app-color-red}:"programowanie", #{$app-color-blue}:"rozwój", #{$app-color-yellow}:"astrofizyka", #{$app-color-green}:"biznes");

                @each $color, $category in $bookCategory {
                        [data-book-category="#{$category}"]{
                                border:0.15rem solid $color;
                                color:$color;
                        }
                }

                &--title{
                        @include boxHeading($font-size-extra-huge);
                        line-height:6rem;
                }

                &--subtitle{
                        @include boxDescContent($font-size-big);
                        line-height:3rem;
                }

                &--date{
                        @include boxDescContent($font-size-extra-normal);  
                }

                &-timread{
                        margin-top:2rem;

                        &--caption{
                                @include boxDescContent($font-size-extra-normal);  
                        }

                        .material__icon{
                                margin-right:0.35rem;
                                transform:translateY(0.25rem);
                        }
                }
        }

        //Very large screen
        @media (max-width: 1366px) {
                .article__header{
                        &-inner{ width:50vw; }
                 }
        }

        //Desktops, large screens
        @media (max-width: 1200px) {
                .article__header{
                        &-inner{ width:65vw; }
                }
        }

        //Small screens, laptops
        @media (max-width: 960px) {
                .article__header{
                        &-inner{ width:75vw;}

                        @if($type=='book'){
                                padding-top:6rem;
                                min-width:100%;
                        }
        
                        @else{
                                padding-top:25rem;
                                padding-left: 5rem;
                                padding-right: 5rem;
                                min-width:100%;
                        }
                }
        }

        //iPads, Tablets
        @media (max-width: 768px) {
                .article__header{
                        &--title{
                                @include boxHeading($font-size-huge);
                                line-height:5rem;
                        }
        
                        &--subtitle{
                                @include boxDescContent($font-size-extra-normal);
                                line-height:2rem;
                        }
        
                        &--date{  @include boxDescContent($font-size-normal);    }
        
                        &-timread{
                                margin-top:1.5rem;
        
                                &--caption{  @include boxDescContent($font-size-normal);  }
                        }

                        &-inner{ width:85vw;  }
                }
        }

        //Mobile devices (horizonal)
        @media (max-width: 576px) {
                .article__header{
                        &-inner{ width:89.5vw;   }

                        @if($type=='book'){
                                padding-top:6rem;
                                min-width:100%;
                        }
        
                        @else{
                                padding-left: 1rem;
                                padding-right: 1rem;
                        }
                }
        }
 }

/*-----------------------------
*               Article
*----------------------------*/

.article{
        @include sectionDefinition;

        // for Reviews
        &--book{
                .article__head {
                        padding-top: 4.35rem;
        
                        &-media{
                                margin:auto;
                                        
                                &--artwork{
                                        display:block;
                                        width:100%;
                                        object-fit: cover;
                                }
                        }
                }

                @include header($app-color-white,'book');
        }
        
        // for Projects
        &--project{
                .article__head {
                        display: flex;
                        position: relative;
        
                        &-media{  
                                width: 50%;
                                height: 100vh; 
                                margin-left:auto;

                                &--artwork{
                                        display: block;
                                        height:100%;
                                }
                         }

                        @include header(transparent,'project');
                }
        }

        // Article > Body
        &__body{
                padding: 6rem 0 6rem;
                min-width:100%;

                &_modifier{  background-color:$app-color-white;  }

                &-inner{
                        margin:auto;
                        width:40vw;
    
                        @include pubSystem(true);
                }
        }

        // Article > Properties
        &__properties{
                min-width:100%;

                &_modifier{  background-color:$app-color-white;  }

                &-inner{
                        margin:auto;
                        width:40vw;
                }

                &-holders{ 
                        &-tag { 
                                display:inline-block;
                                margin-right: 1rem;
                                padding: 1rem 2rem;
                                        
                                &_effect{
                                        border-radius: 25px;
                                        letter-spacing:1px;
                                        font-size:$font-size-normal;
                                        font-weight: $bold-weight;
                                        color:$app-color-white;
                                        cursor:pointer;
                                }
                        }
                }

                &-author{ 
                        margin-top:3.5rem;

                        &-header{
                                &--title{  @include boxHeading($font-size-big, $app-color-gray);  }
                        }
                        
                        &-inner { 
                                display:flex;
                                align-items:center;
                                margin-top:2rem;
                        }

                        &-media{
                                &--artwork{
                                        display:block;
                                        width:5rem;
                                        height:5rem;
                                        border-radius:100%;
                                }
                        }

                        &-info{
                                margin-left:1rem;

                                &--name, &--role{
                                        @include boxDescContent; 
                                        line-height:1.5rem;
                                }
                        }
                }
        }

        // Article > Comment
        &__comment{
                min-width: 100%;

                &_modifier{ background-color:$app-color-white;  }

                &-inner{
                        padding: 6rem 0 6rem;
                        margin:auto;
                        width:40vw;
                }
        }
}

/*-----------------------------
*              Related
*----------------------------*/

.related{
        @include sectionDefinition;
    
        &_theme{ 
                background-color: $app-color-white; 
                border-top: 1px solid $app-color-lsilver; 
        }
    
        // Related > Block
        &__block{ @include blockPadding }

         // Related > Block > Header
        &__block &__header{ @include sectionHeaderLeftV2  }

        // Related > Block > Rel
        &__block  &__rel{
                @include articleItems;
        }

        // Related > Block > Rel inner 
        &__block  &__rel-inner{ 
                margin-top:3.5rem;
                @include  inlineRepeatColElements(3, 1fr, 3rem); 
        }
}

/*-----------------------------
*        RWD System
*----------------------------*/

//Very large screen
@media (max-width: 1366px) {
        .article{
                // for Reviews
                &--book{
                        .article__head {
                                &-media{  &--artwork{  min-height:580px; }}
                        }
                }
                
                 // Article > Body
                &__body{
                        &-inner{  width:50vw; }
                }

                // Article > Properties
                &__properties{
                        &-inner{ width:50vw; }
                }

                // Article > Comment
                &__comment{
                        &-inner{  width:50vw;  }
                }
        }
}

//Desktops, large screens
@media (max-width: 1200px) {
        .article{
                // for Reviews
                &--book{
                        .article__head {
                                &-media{  &--artwork{  min-height:576px; }}
                        }
                }

                // Article > Body
                &__body{    
                        &-inner{ width:65vw; }
                }

                // Article > Properties
                &__properties{
                        &-inner{ width:65vw;  }
                }

                // Article > Comment
                &__comment{
                        &-inner{  width:65vw; }
                }
        }

        .related{      
                // Related > Block > Rel inner 
                &__block  &__rel-inner{ 
                        @include  inlineRepeatColElements(3, 1fr, 0.5rem); 
                }
        }
}

//Small screens, laptops
@media (max-width: 960px) {
        .article{
                // for Reviews
                &--book{
                        .article__head {
                                &-media{  &--artwork{  min-height:602px; }}
                        }
                }

                &--project{
                        .article__head {
                                grid-template-columns: 1fr;
                                height: 85vh;

                                &-media{  
                                        grid-row-start:1;  
                                        grid-column-start:1; 
                                        margin:auto;
                                        
                                        &--artwork{  max-height:571px;}   
                                }
                        }
                }

                // Article > Body
                &__body{                       
                        &-inner{ width:75vw;  }
                }

                // Article > Properties
                &__properties{
                        &-inner{ width:75vw; }
                }
               
                // Article > Comment
                &__comment{
                        &-inner{  width:75vw; }
                }
        }

        .related{      
                // Related > Block > Rel inner 
                &__block  &__rel-inner{ 
                        @include  inlineRepeatColElements(2, 1fr, 3rem); 
                }

                 // Related  > Block > Article
                &__rel-article{
                        &:nth-child(3){ display: none;  }
                } 
        }
}

//iPads, Tablets
@media (max-width: 768px) {
        .article{
                // for Reviews
                &--book{
                        .article__head {
                                &-media{   &--artwork{  min-height:477px; }   }
                        }
                }

                &--project{
                        .article__head {
                                &-media{                            
                                        &--artwork{  max-height:693px; border:1px solid red;}   
                                }
                        }
                }

                // Article > Body
                &__body{                                       
                        &-inner{ width:85vw;  }
                }

                // Article > Properties
                &__properties{
                         &-inner{ width:85vw; }
                 }

                // Article > Comment
                &__comment{
                        &-inner{  width:85vw; }
                }
        }

        .related{      
                // Related > Block > Rel inner 
                &__block  &__rel-inner{ 
                        @include  inlineRepeatColElements(2, 1fr, 1rem); 
                }
        }
}

//Mobile devices (horizonal)
@media (max-width: 576px) {
        .article{
                // for Reviews
                &--book{
                        .article__head {
                                &-media{ &--artwork{  min-height:361px; }   }
                        }
                }

         // for Projects
                &--project{
                        .article__head {

                                &-media{  
                                        &--artwork{  max-height:437px; border:1px solid red;}   
                                }
                        }
                }

                // Article > Body
                &__body{                                                            
                        &-inner{ width:89.5vw;   }
                }

                // Article > Properties
                &__properties{
                        &-inner{ width:89.5vw; }
                }

                // Article > Comment
                &__comment{
                        &-inner{  width:89.5vw;  }
                }
        }

        .related{      
                // Related > Block > Rel inner 
                &__block  &__rel-inner{ 
                        @include  inlineRepeatColElements(1, 1fr, 3rem); 
                }
        }
}

