/*-----------------------------------------------------
 * Article (https://www.damianbarszcz.com)
 * Copyright 2021 Damian Barszcz
 *-----------------------------------------------------*/

/*-----------------------------
*               Article
*----------------------------*/

.article{
        @include sectionDefinition;

        // for Reviews
        &--book{
                // Article > Head
                .article__head{ 
                        @include blockPadding(5rem, 0, 3rem); 

                        // Article > Head > Artwork
                        &-artwork{  
                                background-size:contain !important;
                                background-repeat: no-repeat !important;
                                background-position: center !important;
                                min-width: 100%;
                                height:35rem;     
                        }

                        // Article > Head > Header
                        &-header{
                                margin:1.5rem auto  0rem auto;
                                max-width: 1140px;
                                text-align: center;

                                &--title{  
                                        margin-top:1rem;

                                        @include boxHeading($font-size-huge);  
                                }
                    
                                &--caption{  
                                        margin-top:1rem;
                    
                                        @include boxDescContent($font-size-extra-normal, $regular-weight);  
                                }

                                &--category{  @include pageButton(90px);}

                                .dark-style{
                                        border:0.15rem solid $app-color-dark;
                                        color:$app-color-dark;
                                }

                                .light-style{
                                        border:0.15rem solid $app-color-white;
                                        color:$app-color-white;
                                }

                                .text-dark{ color:$app-color-dark; }

                                .text-light{ color:$app-color-white;  }
                        }
                } 
        }

        // Article for Projects
        &--project{
                .article__head{ 
                        position: relative;

                        &-inner{
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                                grid-column-gap: 2.5rem;
                                grid-row-gap: 0rem;
                                align-items: center;
                                height:75vh;  
                        }

                        &-artwork{  
                                height: 420px;
                                background-size:contain !important;
                                background-repeat: no-repeat !important;
                                background-position: center !important;
                        }

                        &-header{
                                &--title{  
                                        @include boxHeading($font-size-huge);  
                                }
                    
                                &--caption{  
                                        margin-top:1rem;
                    
                                        @include boxDescContent($font-size-extra-normal, $regular-weight);  
                                }
    
                                .dark-style{
                                        border:0.15rem solid $app-color-dark;
                                        color:$app-color-dark;
                                }
    
                                .light-style{
                                        border:0.15rem solid $app-color-white;
                                        color:$app-color-white;
                                }
    
    
                                .text-dark{ color:$app-color-dark; }
    
                                .text-light{ color:$app-color-white;  }
                        }
                }
        }

        // Article > Body
        &__body{
                margin:auto;
                padding: 3rem 0 3rem;
                width:40vw;
        
                // Article > Body > Content
                &-content{ 
                        @include pubSystem(true);
        
                        &_modifier{  text-align: left;  }
                }
        
                // Article > Body > Holders
                &-holders{ 
                        margin: 4.5rem auto 0rem;
                                        
                        &_modifier{  text-align: left;  }
        
                        &-tag { 
                                padding: 1rem 2.5rem;
                                margin-right:1rem;
                            
                                &_effect{
                                        background-color:$app-color-lsilver;
                                        border-radius: 25px;
                                        font-size:$font-size-normal;
                                        font-weight: $bold-weight;
                                        color:$app-color-gray;
                                }
                        }
                 }
        }
}

/*-----------------------------
*              Related
*----------------------------*/

.related{
        @include sectionDefinition;
    
        &_theme{ 
                background-color: $app-color-white; 
                border-top: 1px solid $app-color-lsilver; 
        }
    
        // Related > Block
        &__block{ @include blockPadding }
    
        &__block &__header{ @include sectionHeaderLeftV2  }
    
        // Related > Block > Articles
        @include articleItems;
}

/*-----------------------------
*        RWD System
*----------------------------*/

//Very large screen
@media (max-width: 1366px) {
        .article{
                // for Reviews
                &--book{
                        // Article > Head 
                        .article__head{ 
                                // Article > Head > Artwork
                                &-artwork{  
                                        height:32.5rem;
                                }
                        }
                }
        }

        // Article > Body
        .article__body{  width:50vw;  }
}

//Desktops, large screens
@media (max-width: 1200px) {
        .article{
                // for Reviews
                &--book{
                        // Article > Head 
                        .article__head{ 
                                // Article > Head > Artwork
                                &-artwork{  
                                        height:30rem;
                                }
                        }
                }
        }

        // Article > Body
        .article__body{  width:65vw;  }

       // Related
       .related{           
               // Related > Block > Inner
               &__block &__inner{ @include  inlineRepeatColElements(3, 1fr, 1.5rem);  }
        }
}
   
//Small screens, laptops
@media (max-width: 960px) {
        .article{
                // for Reviews
                &--book{
                        // Article > Head 
                        .article__head{ 
                                // Article > Head > Artwork
                                &-artwork{  
                                        height:25rem;
                                }
                        }
                }
        }

        // Article > Body
        .article__body{ width:75vw;  }

       // Related
       .related{       
               // Related  > Block > Inner > Articles
               &__block &__inner{ @include  inlineRepeatColElements(2, 1fr, 1.5rem);  }  
               // Related  > Block > Article
               &__article{
                       &:nth-child(3){ display: none;  }
               } 
       }
}
   
//iPads, Tablets
@media (max-width: 768px) {
        .article{
                // for Reviews
                &--book{
                        // Article > Head 
                        .article__head{ 
                                // Article > Head > Artwork
                                &-artwork{  
                                        height:20rem;
                                }
                        }
                }

                // for Projects
                &--project{
                        .article__head{ 
                                padding-top: 3.5rem;
                                        
                                &-inner{
                                        grid-template-columns: 1fr;
                                        height:60vh;  
                                }

                                &-artwork{  
                                        grid-row:1;
                                        grid-column: 1;
                                        height: 20rem;
                                }  
                        }
                }
        }

        // Article > Body
        .article__body{ width:85vw; }

        // Related
        .related{    
                // Related  > Block > Articles
                &__block  &__inner{    @include  inlineRepeatColElements(2, 1fr, 1rem);   }
        } 
}
   
   //Mobile devices (horizonal)
@media (max-width: 576px) {
        .article{
                // for Reviews
                &--book{
                        // Article > Head 
                        .article__head{ 
                                // Article > Head > Artwork
                                &-artwork{  
                                        height:15rem;   
                                }
                        }
                }

                // for Projects
                &--project{
                        .article__head{ 
                                padding-top: 3.5rem;
                                        
                                &-inner{
                                        grid-template-columns: 1fr;
                                        height:60vh;  
                                }

                                &-artwork{  
                                        height: 20rem;
                                }  
                        }
                }
        }

        // Article > Body
        .article__body{ width:90vw;}

       // Related
       .related{    
               // Related  > Block > Articles
                 &__block  &__inner{    @include  inlineRepeatColElements(1, 1fr, 1.5rem);   }
         } 
   }

