
/*-----------------------------------------------------
 * Index (https://www.damianbarszcz.com)
 * Copyright 2021 Damian Barszcz
 *-----------------------------------------------------*/

/*-----------------------------
*          Main header
*----------------------------*/

.main-header{
        @include sectionDefinition;
    
        &_theme{ 
                background-color: $app-color-white;         
                z-index:100;
        }
    
        // Main header > Block
        &__block{                 
                display: grid;
                grid-template-columns: 1fr;
                align-items: center;
    
                @include blockPadding(3rem, 0, 3rem); 
        }
    
        // Main header > Block  > Brand
         @include blogBrand(18rem, 3.515625rem,true);
    
        // Main header > Block  > navMenu
        @include navMenu("main-header",true);
    
        // Main header > Block  > navSearch
        @include navSearch("main-header",true);
    }
    
    /*-----------------------------
    *             New pub
    *----------------------------*/
    
    .new-pub{
        @include sectionDefinition;
    
        &_theme{ background-color:$app-color-white; }
    
        // New pub  > Block
        &__block{ @include blockPadding(1rem, 0, 6rem); }
    
        // New pub  > Block > Article
        @include articleItems(50%, false, true);
    }
    
    
    /*-----------------------------
    *             Projects
    *----------------------------*/
    
    .projects{
        @include sectionDefinition;
    
        &_theme{  
                background-color:  $app-color-dark; 
                background-image: url("../images/contact/bg-halftone-black-20p.png"); 
        }
    
        // Projects > Block 
        &__block{ @include blockPadding(4.5rem, 0,4.5rem); }
    
         // Projects > Block  > Header
         &__block &__header{   @include sectionHeaderCenter(40rem, $app-color-white,$app-color-blue);  }
    
        // Projects  > Block  > Inner
        &__block &__inner{
                margin: 3.5rem auto;
                width: 100%;
    
                &--top{
                        display:grid;
                        grid-template-columns: 1fr 0.5fr 0.35fr;
                        grid-template-rows: 0.35fr 0.5fr 1fr;
                        grid-gap: 1.5rem;
                        height: 30rem;
                }
    
                &--bottom{
                        display:grid;
                        grid-template-columns: 0.5fr 1fr 1fr 1fr;
                        grid-template-rows: 1fr 0.6fr 0.4fr;
                        grid-gap: 1.5rem;
                        height: 30rem;
                        margin-top:1.5rem;
                }
        }
    
        // Projects > Block  > Inner > Article
        &__block &__inner &__article{
                position: relative;
    
                &_modifier{ 
                        @include articleImage;   
                        border:5px dashed $app-color-white;
                 }
    
                &-link{
                        @include boxInnerLink;  
    
                        &_effect{  background-color: rgba(0, 0, 0, 0.5); }
                }
    
                &-header{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        height:100%;
    
                        @include articleHeaderLeft(75%);
                }
        }
    
        // Projects > Block  > Inner top > Article
        &__block &__inner--top &__article{
                &:nth-child(1){
                        grid-row-start: 1;
                        grid-row-end: 4;
                }
    
                &:nth-child(2){
                        grid-row-start: 2;
                        grid-row-end: 4;
                }
        }
    
        // Projects > Block  > Inner bottom > Article
        &__block &__inner--bottom &__article{
                &:nth-child(1){
                        grid-column-start: 2;
                        grid-row-start: 1;
                        grid-row-end: 3;
                }
    
                &:nth-child(2){
                        grid-column-start: 3;
                        grid-row-start: 1;
                        grid-row-end: 4;
                }
    
                &:nth-child(3){
                        grid-column-start: 4;
                        grid-column-end: 5;
                        grid-row-start: 1;
                        grid-row-end: 4;
                }
        }
    }
    
    /*-----------------------------
    *              Library
    *----------------------------*/
    
    .library{
        @include sectionDefinition;
    
        &_theme{  background-color:  $app-color-white; }
    
        // Library > Block 
        &__block{ @include blockPadding; }
        
        // Library > Block > Header
        &__block &__header{   @include sectionHeaderLeft(40rem, $app-color-gray,$app-color-red);  }
    
        // Library > Block  > Books
        &-books{
                margin-bottom:6.5rem;
                @include articleItems(66.64%,true);
    
                 // Library > Block > Books > Box > Buttons
                &__buttons{
                        display:block;
                        margin-top:3rem;
                        min-width:100%;
                
                        &-item{
                                display:block;
                                position: relative;
                                width:4rem;
                                height: 4rem;
                
                                &_modifier{
                                        border-radius:100%;
                                        background-color:$app-color-white;
                                        border: 1px solid $app-color-lsilver;
                                        cursor:pointer;
                                }
                            
                                &:focus{  outline: none;  }
                            
                                .material-icons{
                                        font-size: $font-size-big;
                                        color:$app-color-black;
                                }
                        }
                }
                
                [data-button="prev-button"]{  margin-right:auto;  }
                
                [data-button="next-button"]{ margin-left:auto;  }
        }
    }
    
    
    /*-----------------------------
    *          RWD System
    *----------------------------*/
    
    //Very large screen
    @media (max-width: 1366px) {
        .projects{
                // Latest projects > Block  > Inner
                &__block &__inner{
    
                        &--top{ height: 25rem;   }
    
                        &--bottom{  height: 25rem;   }
                }
        }
    }
    
    //Desktops, large screens
    @media (max-width: 1200px) {
        .new-pub{
                @include articleItems(55%, false, true);
        }
    
        .projects{
                &__block &__inner{
    
                        &--top{
                                display:grid;
                                grid-template-columns: 0.7fr 0.55fr;
                                grid-template-rows: 0.35fr 0.5fr 1fr;
                                height: 30rem;
                        }
        
                        &--bottom{
                                display:grid;
                                grid-template-columns: 1fr 1fr 1fr;
                                grid-template-rows: 1fr 0.5fr 0.35fr;
                                height: 20rem;
                        }
                }
    
                &__block &__inner--bottom &__article{
                        &:nth-child(1){
                                grid-column-start: 1;
                                grid-column-end: 2;
                                grid-row-start: 1;
                                grid-row-end: 4;
                        }
        
                        &:nth-child(2){
                                grid-column-start: 2;
                                grid-column-end: 3;
                        }
    
                        &:nth-child(3){
                                grid-column-start:3;
                                grid-column-end:4;
                        }
                }
        }
    }
    
    //Small screens, laptops
    @media (max-width: 960px) {
        .new-pub{          
                @include articleItems(60%, false, true);
        }
    
        .projects{
                &__block &__inner{
    
                        &--top{
                                grid-template-columns: repeat(2,1fr);
                                grid-template-rows: 1fr;
                                grid-gap: 1.5rem;
                                height: 20rem;
                        }
        
                        &--bottom{
                                grid-template-columns: repeat(2,1fr);
                                grid-template-rows: 1fr 0.25fr 1fr;
                                grid-gap: 1.5rem;
                                height: 45rem;
                        }
                }
    
                &__block &__inner--top &__article{
                        &:nth-child(1){
                                grid-column-start: 1;
                                grid-column-end: 2;
                                grid-row-start: 1;
                                grid-row-end: 2;
                        }
        
                        &:nth-child(2){
                                grid-column-start: 2;
                                grid-column-end: 3;
                                grid-row-start: 1;
                                grid-row-end: 2;
                        }
                }
    
                &__block &__inner--bottom &__article{
                        &:nth-child(1){
                                grid-column-start: 1;
                                grid-column-end: 3;
                                grid-row-start: 1;
                                grid-row-end: 3;
                        }
        
                        &:nth-child(2){
                                grid-column-start: 1;
                                grid-column-end: 2;
                                grid-row-start: 3;
                                grid-row-end: 4;
                        }
    
                        &:nth-child(3){
                                grid-column-start:2;
                                grid-column-end:3;
                                grid-row-start: 3;
                                grid-row-end: 4;
                        }
                }
        }
    }
    
    //iPads, Tablets
    @media (max-width: 768px) {
        .main-header{
                &_theme{ border-bottom:1px solid $app-color-lsilver;}
        
                 &__block{ grid-template-columns: repeat(6,1fr);  height: 4.25rem; padding: 0rem 0 0rem;}
                
    
                @include blogBrand(10.2rem, 2rem);
        }
    
        .new-pub{
                @include articleItems(65%, false, true);
    
                &__block{ @include blockPadding(1rem, 0, 1rem); }
        }
    
        .projects{
                &__block &__inner{
                        &--top{
                                grid-template-columns: 1fr;
                                grid-template-rows: repeat(2,1fr);
                                grid-gap: 1.5rem;
                                height: 50rem;
                        }
        
                        &--bottom{
                                grid-template-columns: 1fr;
                                grid-template-rows: repeat(3,1fr);
                                grid-gap: 1.5rem;
                                height: 75rem;
                        }
                }
    
                &__block &__inner--top &__article{
                        &:nth-child(1){
                                grid-column-start: 1;
                                grid-column-end: 2;
                                grid-row-start: 1;
                                grid-row-end: 2;
                        }
        
                        &:nth-child(2){
                                grid-column-start: 1;
                                grid-column-end: 2;
                                grid-row-start: 2;
                                grid-row-end: 3;
                        }
                }
    
                &__block &__inner--bottom &__article{
                        &:nth-child(1){
                                grid-column-start: 1;
                                grid-column-end: 2;
                                grid-row-start: 1;
                                grid-row-end: 2;
                        }
        
                        &:nth-child(2){
                                grid-column-start: 1;
                                grid-column-end: 2;
                                grid-row-start: 2;
                                grid-row-end: 3;
                        }
    
                        &:nth-child(3){
                                grid-column-start: 1;
                                grid-column-end: 2;
                                grid-row-start: 3;
                                grid-row-end: 4;
                        }
                }
        }
    }
    
    //Mobile devices (horizonal)
    @media (max-width: 576px) {
        .new-pub{
                @include articleItems(70%, false, true);
        }
    }
    
    