
/*-----------------------------------------------------
 * Index (https://www.damianbarszcz.com)
 * Copyright 2021 Damian Barszcz
 *-----------------------------------------------------*/

/*-----------------------------
*          Main header
*----------------------------*/

.main-header{
        @include sectionDefinition;

        &_theme{ background-color: $app-color-white; }

        // Main header > Block
        &__block{                 
                @include inlineRepeatColElements(6,1fr,0rem);
                padding-bottom:2rem;
                align-items: center;
        }
   
        // Main header > Block  > Brand
         @include navBrand(100%, 18rem, 3.515625rem,true);

        // Main header > Block  > Menu
        @include navMenu("main-header",true);

        // Main header > Block  > earch
        //@include navSearch(true);

        &__search{
                position: absolute;
                left:50%;
                width: 25.125rem;
                height:3rem;
                transform: translateX(-50%);
                

                &-form{
                        width:100%;

                        .form__button{
                                color:$app-color-gray;
                                
                               &--search{ position:absolute; top:0.8rem; left:-2rem; }

                               &--close{ position:absolute;   top:0.8rem; right:-2rem; }
                        }

                        .form__input{                  
                                height:3rem; 
                                border:none;  
                                background-color:$app-no-color;
                        }
                }
        }

        .form__button{
                display: block;
                 color:$app-color-gray; 

                //&--open{ text-align: right; }
        }
}

/*-----------------------------
*             New pub
*----------------------------*/

.new-pub{
        @include sectionDefinition;

        &_theme{ background-color:$app-color-white; }

        // New pub  > Block
        &__block{ @include blockPadding(1rem, 0, 6rem); }

        // New pub  > Block > Article
        @include articleItems(50%, false, true);

        &__article{
                &-artwork{
                        background-size: cover !important;
                        background-repeat: no-repeat !important;
                }
        }
}


/*-----------------------------
*             Projects
*----------------------------*/

.projects{
        @include sectionDefinition;

        &_theme{  background-color:  $app-color-white; }

        // Projects > Block 
        &__block{ @include blockPadding;}

         // Latest projects > Block  > Header
         &__block &__header{
                @include inlineFlexBetweenElements;
                @include sectionArticleHeaderLeft(31.5rem, $app-color-gray, $app-color-blue);  
                min-width: 100%;
        }

        // Latest projects > Block  > Inner
        @include innerProjectDisplay('projects');   
        
        &__article{
                &-artwork{
                        background-size: cover !important;
                        background-repeat: no-repeat !important;
                }
        }
}

/*-----------------------------
*              Library
*----------------------------*/

.library{
        @include sectionDefinition;

        &_theme{ background-color: $app-color-white; }

        &__block{ @include blockPadding;}
        
        // Library > Block > Header
         &__block &__header{
                @include inlineFlexBetweenElements;
                @include sectionArticleHeaderLeft(31.5rem, $app-color-gray, $app-color-red);  
                min-width: 100%;
        }

        // Latest projects > Block  > Books
        &-books{
                margin-bottom:6.5rem;
                @include articleItems(66.64%,true);

                &__info{
                        width:348px;

                        &--desc{   @include boxDescContent; }
                }

                 // Library > Block > Books > Box > Buttons
                &__buttons{
                        display:block;
                        margin-top:3rem;
                        min-width:100%;
                
                        &-item{
                                display:block;
                                position: relative;
                                width:4rem;
                                height: 4rem;
                
                                &_modifier{
                                        border-radius:100%;
                                        background-color:$app-color-white;
                                        border: 1px solid $app-color-lsilver;
                                        cursor:pointer;
                                }
                            
                                &:focus{  outline: none;  }
                            
                                .material-icons{
                                        font-size: $font-size-big;
                                        color:$app-color-gray;
                                }
                        }
                }
                
                [data-button="prev-button"]{  margin-right:auto;  }
                
                [data-button="next-button"]{ margin-left:auto;  }
        }
}


/*-----------------------------
*          RWD System
*----------------------------*/

@media (max-width: 1200px) {
        .new-pub{
                @include articleItems(55%, false, true);
        }
}

@media (max-width: 960px) {
        .new-pub{          
                @include articleItems(60%, false, true);
        }
}

@media (max-width: 720px) {
        .main-header{
                border-bottom: 1px solid  $app-color-lsilver;

                &__block{                 
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        align-items: center;
                        padding: 1rem 0 1rem;
                        height: 4.25rem;
                }

                .main-header__brand{
                        grid-column-start:2;
                        grid-column-end:3;
                        padding: 0rem 0 0rem;
                }

                &__menu{
                       display: none;
                }

                &__toggle{
                        display: block;
                        left:0;
                        top:1rem;
                        width:2.35rem;
                        height:2.35rem;
                        cursor: pointer;
                        background-image:url('../../images/global/menu_black_24dp.svg');
                        background-position: center;
                        background-repeat: no-repeat;
                }

                .form__button--open{
                        position: absolute;
                        right:0;
                        top:1.5rem;
                        grid-column-start: 3;
                }

                // Main header > Block  > Brand
                @include navBrand(100%, 10.2rem, 2rem,true);
        }

        .new-pub{
                @include articleItems(65%, false, true);

                &__block{ @include blockPadding(1rem, 0, 0rem); }
        }

        .projects{

                &__block &__header{ display: block;  }

                &__inner{
                        grid-template-columns: 1fr;
                        grid-gap: 1.5rem;
                        
                        &-left{

                                .projects__article{
                                        display:flex;
                                        flex-flow: column wrap;
                                        justify-content: space-between;
                        
                                        &_modifier{
                                                @include boxStyling;
                                                @include transition;
                        
                                                &:hover{ box-shadow: 0 1px 6px 0 rgba(0,0,0,0.16); }
                                        } 

                                        &-link{ @include boxInnerLink; }

                                        &-header{
                                                margin-bottom:1rem;
                                                
                                                &--title{  @include boxHeading($font-size-extra-normal, $bold-weight, $app-color-gray); margin-bottom:1rem; }

                                                &--desc{  @include boxDescContent; white-space: pre-wrap; }
                                        }

                                        &-artwork{  @include setItemArtwork(100%);  }
                                }
                        }
                                
                        // Latest projects  > Inner > Right
                        &-right{
                                display: grid;

                                .projects__article{
                        
                                        &_modifier{
                                                @include boxStyling;
                                                @include transition;
                        
                                                &:hover{ box-shadow: 0 1px 6px 0 rgba(0,0,0,0.16); }
                                        } 

                                        &-link{                                
                                                display: grid;
                                                grid-template-columns: 1fr;
                                                grid-column-gap: 3rem;
                                                padding: 1.5rem 1rem;
                                        }

                                        &-header{
                                                &--title{  @include boxHeading($font-size-extra-normal, $bold-weight, $app-color-gray); margin-bottom:1rem;}

                                                &--desc{  @include boxDescContent; white-space: pre-wrap; }
                                        }

                                        &-artwork{  margin-top:2rem; @include  backgroundBlockArtwork(100%,30.5rem) }
                                }
                        }
                }
        }
}

@media (max-width: 576px) {
        .new-pub{
                @include articleItems(80%, false, true);
        }
}
