
/*-----------------------------------------------------
 * Library (https://www.damianbarszcz.com)
 * Copyright 2021 Damian Barszcz
 *-----------------------------------------------------*/

 @mixin localLibraryHeader($color:$app-color-gray){

        &__header{
                display: inline-block;
                padding-bottom:0.25rem;
    
                &_modifier{ border-bottom: 2px  solid $color; }

                &--title{
                        @include boxHeading($font-size-normal,$color);
                        text-transform: uppercase;
                }
        }
 }

 /*-----------------------------
*        Library banner
*----------------------------*/

.library-banner{
        @include sectionDefinition;

        &_theme{  background-color:$app-color-white; }
        
        // Library banner > Block
        &__block{  @include blockPadding(8rem, 0, 2rem);  }

        // Library banner > Block > Header
        &__block &__header{   
                @include sectionHeaderCenterV2(40rem, $app-color-gray, $app-color-red);
        }
}

        
/*-----------------------------
*          Top review
*----------------------------*/

.top-review{
        @include sectionDefinition;

        &_theme{  background-color:$app-color-white; }

        // Top review > Block
        &__block{  @include blockPadding(1.5rem, 0, 3rem);  }

        // Top review > Block > Header
        @include localLibraryHeader;

        // Top review > Block > Inner
        &__block &__inner{
                margin-top:2rem;
        }

        // Top review > Block > Inner > Article
        &__inner &__article{
                padding:1.25rem 1rem;   
    
                &_modifier{
                        @include boxStyling;
                        
                        @include transition;

                        &:hover{ box-shadow: 0 1px 6px 0 rgba(0,0,0,0.16); }
                } 

                &-link{   
                        display:grid;
                        grid-template-columns:  1fr 0.5fr;
                        align-items: center;
                        grid-gap: 2rem;
                }

                &-media{
                       &--artwork{ @include setItemArtwork;    }
                }

                &-header{
                        margin-top:1rem;
                       
                        &--title{  @include boxHeading; }
    
                        &--desc{  @include boxDescContent; }                              
                }
    
                &-category{                        
                        margin-top:1rem;
                        @include pageButton(90px);
                }
    
                $bookCategory: (#{$app-color-red}:"programowanie", #{$app-color-blue}:"rozwój", #{$app-color-yellow}:"astrofizyka", #{$app-color-green}:"biznes");
    
                @each $color, $category in $bookCategory {
                        [data-book-category="#{$category}"]{
                                border:0.15rem solid $color;
                                color:$color;
                        }
                }
    
                [data-article-category="Book"]{
                        border:0.15rem solid $app-color-red;
                        color:$app-color-red;
                }
    
                [data-article-category="Project"]{
                        border:0.15rem solid $app-color-blue;
                        color:$app-color-blue;
                }
        }
}


/*-----------------------------
*          Last reviews
*----------------------------*/

.last-reviews{
        @include sectionDefinition;

        &_theme{  background-color:$app-color-white; }

        // Library reviews > Block
        &__block{  @include blockPadding(4rem, 0, 4rem);  }

        // Library reviews > Block > Header
        @include localLibraryHeader;

        // Library manager > Block > Inner
        &__block &__rev-inner{
                margin-top:2rem;
                @include  inlineRepeatColElements(3, 1fr, 3rem);
        }

         // Library manager > Block > Inner >  Rev Article
          &__rev{
                @include articleItems;
        }
}

/*-----------------------------
*             Popular
*----------------------------*/

.popular{
        @include sectionDefinition;

        &_theme{  background-color:$app-color-white;  }

        // Library manager > Block
        &__block{  @include blockPadding(4rem, 0, 4rem);  }
        
        // Popular > Block > Header
        @include localLibraryHeader;

        // Popular > Block > Inner
        &__inner{
                @include inlineRepeatColElements($nr_elem:5, $columnSize: 1fr,$space: 1rem);
                margin-top:3rem;
        }
    
        // Popular > Block > Inner > Article
        &__inner  &__article{
                position: relative;
                min-height: 20rem;

                &_modifier{
                        @include articleImage;
                }

                 // Popular > Block > Inner > Article > Single item
                &:nth-child(1){  grid-column-start: 1; grid-column-end: 4;   grid-row-start:1;  grid-row-end: 3;  }
            
                &:nth-child(2){  grid-column-start: 4; grid-column-end: 6;   grid-row-start:1;  grid-row-end: 2;  }
            
                &:nth-child(3){  grid-column-start: 4; grid-column-end: 5; }
            
                &:nth-child(4){  grid-column-start: 5;   grid-column-end: 6;  }
        
                // Popular > Block > Inner > Article > Link
                &-link{
                        position:absolute;
                        @include boxInnerLink;
        
                        &_modifier{
                                background-color: rgba(0, 0, 0, 0.5);
                                z-index:100;                      
                        }
                }
        
                // Popular > Block > Inner > Article > Link > Header
                &-header{
                        position: absolute;
                        bottom:1rem;
                        left:1rem;
                        right:1rem;
        
                        &--title{ @include boxHeading($font-size-extra-normal, $app-color-white);   }
        
                        &-category{
                                margin-top:1rem;
                                border:2px solid $app-color-white;
                                color:$app-color-white;
                                @include pageButton(90px);
                        }
                }
        }
    }
    
/*-----------------------------
*          RWD System
*----------------------------*/

@media (max-width: 1200px) {

        .last-reviews{
                &__block &__rev-inner{ @include  inlineRepeatColElements(3, 1fr, 1.5rem);  }
        }

        .popular{
                &__inner  &__article{
                        
                        &:nth-child(1){  grid-column-start: 1; grid-column-end: 4;   grid-row-start:1;  grid-row-end: 3;  }
            
                        &:nth-child(2){  grid-column-start: 4; grid-column-end: 6;   grid-row-start:1;  grid-row-end: 2;  }
                    
                        &:nth-child(3){  grid-column-start: 4; grid-column-end: 6; }
                    
                        &:nth-child(4){  grid-column-start: 1;   grid-column-end: 6;  }
                }
        }
}
//Small screens, laptops
@media (max-width: 960px) {
        .last-reviews{
                &__block &__rev-inner{ @include  inlineRepeatColElements(2, 1fr, 1.5rem);  }
        }

        .popular{

                &__inner{  @include inlineRepeatColElements($nr_elem:6, $columnSize: 1fr,$space: 1rem);    }

                &__inner  &__article{
                        
                        &:nth-child(1){  grid-column-start: 1; grid-column-end: 4;   grid-row-start:1;  grid-row-end: 3;  }
                    
                        &:nth-child(2){  grid-column-start: 4; grid-column-end: 7;   grid-row-start:1;  grid-row-end: 3;  }
                    
                        &:nth-child(3){  grid-column-start: 1; grid-column-end: 4; grid-row-start:3;  grid-row-end: 5;  }
                    
                        &:nth-child(4){  grid-column-start: 4;   grid-column-end: 7; grid-row-start:3;  grid-row-end: 5;  }
                }
        }
}

//iPads, Tablets
@media (max-width: 768px) {
        .last-reviews{
                &__block &__rev-inner{    @include  inlineRepeatColElements(2, 1fr, 1rem);   }
        }

        .top-review{

                &__inner &__article{
            
                        &-link{   
                                grid-template-columns:  1fr;
                                grid-gap: 1rem;
                        }
        
                        &-media{
                               &--artwork{
                                        @include setItemArtwork(80%);  
                                }
                        }

                        &-header{
                                &--title{  @include boxHeading($font-size-extra-normal, $app-color-gray); }              
                        }
                }
        }
}

@media (max-width: 576px) {
        .library-banner{
                // Projects banner > Block > Header
                &__block &__header{   
                        @include sectionHeaderLeftV2(40rem, $app-color-gray, $app-color-red);
                }
        }

        .library-manager{
                &_theme{    background-size:auto; }

                &__block &__header{ @include sectionArticleHeaderCenter(31.5rem,$app-color-gray,$app-color-red);  text-align: left; }
        }
        
        .last-reviews{
                &__block &__rev-inner{    @include  inlineRepeatColElements(1, 1fr, 1.5rem);      }
        }

        .popular{

                &__inner  &__article{
                        
                        &:nth-child(1){  grid-column-start: 1; grid-column-end: 7;   grid-row-start:1;  grid-row-end: 3;  }
                    
                        &:nth-child(2){  grid-column-start: 1; grid-column-end: 7;   grid-row-start:3;  grid-row-end: 5;  }
                    
                        &:nth-child(3){  grid-column-start: 1; grid-column-end: 7; grid-row-start:5;  grid-row-end: 7;  }
                    
                        &:nth-child(4){  grid-column-start: 1;   grid-column-end: 7; grid-row-start:7;  grid-row-end: 9; }
                }
        }
}
