
/*-----------------------------------------------------
 * Library (https://www.damianbarszcz.com)
 * Copyright 2020 Damian Barszcz
 *-----------------------------------------------------*/

 @mixin localLibraryHeader{

        &__header{
                display: inline-block;
                padding-bottom:0.25rem;
    
                &_modifier{ border-bottom: 2px  solid $app-color-gray; }

                &--title{
                        @include boxHeading($font-size-normal,$bold-weight, $app-color-gray);
                        text-transform: uppercase;
                }
        }
 }

/*-----------------------------
*             Library
*----------------------------*/

        .library-manager{
                @include sectionDefinition;

                &_theme{  background-color:$app-color-dark; }

                // Library manager > Block
                &__block{  @include blockPadding(8rem, 0, 2rem, 0);}

                // Library manager > Block > Header
                &__block &__header{ @include sectionArticleHeaderLeft;  }

                // Library manager > Block > Inner
                &__block &__inner{  margin-top:2rem; }

                &__block &__inner &__search{

                        &-form{
                                position: relative;
                                @include boxLeft(31.5rem);
                                
                                .form__search{
                                        width:100%;
                                        background-color:transparent;
                                        border-bottom: 2px solid $app-color-white !important;
                                        border:0;
                                        padding-right:3.5rem;
                                        padding-left:0rem;
                                        font-size:$font-size-normal;
                                        color: $app-color-white;

                                        &::placeholder { 
                                                color: $app-color-silver;
                                                opacity: 1;
                                        }
                                }

                                .form__button--search{
                                        position: absolute;
                                        right:0;
                                        top:1rem;
                                        color:$app-color-white;
                                }
                        }
                }
        }

/*-----------------------------
*          Last reviews
*----------------------------*/

.last-reviews{
        @include sectionDefinition;

        &_theme{  background-color:$app-color-white; }

        // Library reviews > Block
        &__block{  @include blockPadding(4rem, 0, 4rem);  }

        // Library reviews > Block > Header
        @include localLibraryHeader;

        // Library manager > Block > Inner
        &__block &__inner{
                margin-top:2rem;
                @include  inlineRepeatColElements(3, 1fr, 3rem);
        }

        &__article-artwork{
                background-size:contain !important;
                background-position: center !important;
        }

         // Library manager > Block > Inner > Article
       @include articleItems;

       // Library manager > Block > Inner > Noarticle
       &__inner &__noarticle{
               position: relative;
               grid-column-start: 1; 
               grid-column-end: 4;  
               min-height: 18.75rem;

               &-header{
                       position: absolute;
                       left:50%;
                       top:50%;
                       transform:translate(-50%,-50%);

                       &_modifier{   text-align:center;   }

                       @include boxHeading($font-size-normal,$bold-weight, $app-color-gray);  

                       &--caption{ @include boxDescContent; }
               }
       }
}

/*-----------------------------
*             Popular
*----------------------------*/

.popular{
        @include sectionDefinition;

        &_theme{  background-color:$app-color-white; }

        // Library manager > Block
        &__block{  @include blockPadding(4rem, 0, 4rem);  }
        
        // Popular > Block > Header
        @include localLibraryHeader;

        // Popular > Block > Inner
        &__inner{
                @include inlineRepeatColElements($nr_elem:5, $columnSize: 1fr,$space: 1rem);
                margin-top:3rem;
        }
    
        // Popular > Block > Inner > Article
        &__inner  &__article{
                position: relative;
                min-height: 20rem;

                $brand-color: (rgba($app-color-red, 0.75), rgba($app-color-blue, 0.75), rgba($app-color-yellow, 0.75), rgba($app-color-green, 0.75));

                @for $i from 1 through length($brand-color) {
                        &:nth-child(#{$i}) {
                                .popular__article-link {
                                        &:hover{  text-decoration: none;  background-color:nth($brand-color,$i) }
                                }
                        }
                }
                
                &:nth-child(1){  grid-column-start: 1; grid-column-end: 4;   grid-row-start:1;  grid-row-end: 3;  }
            
                &:nth-child(2){  grid-column-start: 4; grid-column-end: 6;   grid-row-start:1;  grid-row-end: 2;  }
            
                &:nth-child(3){  grid-column-start: 4; grid-column-end: 5; }
            
                &:nth-child(4){  grid-column-start: 5;   grid-column-end: 6;  }
        
                // Popular > Block > Inner > Article > Link
                &-link{
                        position:absolute;
                        @include boxInnerLink;
        
                        &_modifier{
                                background-color: rgba(0, 0, 0, 0.75);
                                z-index:100;                      
                        }
                }
        
                // Popular > Block > Inner > Article > Link > Header
                &-header{
                        position: absolute;
                        bottom:2rem;
        
                        &--title{ @include boxHeading($font-size-extra-normal, $bold-weight, $app-color-white);   }
        
                        &-category{
                                margin-top:1rem;
                                border:2px solid $app-color-white;
                                color:$app-color-white;
                                @include pageButton(90px);
                        }
                }
        }
    }
    
/*-----------------------------
*               RWD
*----------------------------*/

@media (max-width: 1366px) {
        .last-reviews{
                &__block &__inner{
                        @include  inlineRepeatColElements(3, 1fr, 1.5rem);
                }
        }
}

@media (max-width: 1024px) {

        .last-reviews{
                &__block &__inner{
                        @include  inlineRepeatColElements(2, 1fr, 2rem);
                }
        }
}
    
@media (max-width: 768px) {
         .last-reviews{
                &__block &__inner{
                        @include  inlineRepeatColElements(1, 1fr, 0rem);
                }
        }

        .popular{
                &__inner{
                        display: block;
                }
        }
}
