/*-----------------------------------------------------
 * Projects (https://www.damianbarszcz.com)
 * Copyright 2021 Damian Barszcz
 *-----------------------------------------------------*/

 /*-----------------------------
*         No projects
*----------------------------*/

.no-projects{
        @include sectionDefinition;

        &_theme{  background-color:$app-color-white; }
        
        // No projects > Block
        &__block{  
                @include blockPadding(12rem, 0, 12rem); 
        }

        // No projects > Block > Inner
        &__block &__inner{
                &-box{  text-align: center;   }
        }

        // No projects > Block > Header
        &__block &__header{ 
                margin-top:3.5rem;
                text-align: center;

                &--title{  @include boxHeading($font-size-big, $app-color-gray);  }
                
                &--caption{  
                        margin-top:1rem;

                        @include boxDescContent; white-space: pre-wrap; 
                }                      
        }
}

/*-----------------------------
*      Projects banner
*----------------------------*/

.projects-banner{
        @include sectionDefinition;

        &_theme{  background-color:  $app-color-dark;   }
        
        // Projects banner > Block
        &__block{  @include blockPadding(8rem, 0, 1rem);  }

        // Projects banner > Block > Header
        &__block &__header{   
                @include sectionHeaderCenterV2(40rem, $app-color-white, $app-color-blue);
        }
}

/*-----------------------------
*       Latest projects
*----------------------------*/

.latest-projects{
        @include sectionDefinition;

        &_theme{  
                background-color:  $app-color-dark;   
          }
        
        // Latest projects > Block 
        &__block{ @include blockPadding(1rem, 0, 6rem, 0); }

        @include localHeader($app-color-white);

        // Latest Projects > Block > Hero
        &__block  &__inner{
                display: grid;
                margin-top:2rem;
                grid-template-columns: repeat(4,1fr);
                grid-template-rows: repeat(2,1fr);
                grid-gap:1.5rem;
                min-width: 100%;
        }

        // Latest Projects > Block > Article
        &__block  &__article{
                position: relative;
                min-height: 20rem;
                cursor: move;

                &:nth-child(1){
                        grid-column-start: 1;
                        grid-column-end: 3;
                        grid-row-start: 1;
                        grid-row-end: 3;
                }

                &_modifier{  @include articleImage; }

                &-link{
                        @include boxInnerLink;  
    
                        &_effect{ background-color:rgba(41,41,41,0.85);     }

                        &:hover{  background-color:transparent;  }
                }

                &-comment{
                        position:absolute;
                        top:1.5rem;
                        left:0;

                        &:before{
                                display:inline-block;
                                content:"";
                                width:3rem;
                                height:2rem;
                                background-color:$app-color-blue;
                        }

                        &--caption{
                                display:inline-block;
                                transform:translateY(-0.75rem);
                                margin-left:1rem;
                                font-weight:$bold-weight;
                                font-size:$font-size-normal;
                                color:$app-color-white;
                                text-transform:uppercase;
                        }
                }

                &-timread{
                        position:absolute;
                        top:5rem;
                        left:0;

                        &:before{
                                display:inline-block;
                                content:"";
                                width:1.5rem;
                                height:2rem;
                                background-color:$app-color-red;
                        }

                        &--caption{
                                display:inline-block;
                                transform:translateY(-0.7rem);
                                margin-left:1rem;
                                font-weight:$bold-weight;
                                font-size:$font-size-normal;
                                color:$app-color-white;
                                text-transform:uppercase;
                        }

                        .material__icon{
                                margin-right:0.35rem;
                                transform:translateY(0.325rem);
                        }
                }

                &-header{
                        display:inline-block;
                        position:absolute;
                        bottom:1.5rem;
                        left:0;
                        padding: 1rem 1.5rem;
                        min-width:100%;
                        
                        @include articleHeaderLeft(75%, $app-color-white, $font-size-extra-normal,$app-color-lsilver);
                }
        }
}

/*-----------------------------
*      Popular projects
*----------------------------*/

.popular-projects{
        @include sectionDefinition;

        &_theme{   background-color: $app-color-white; border-bottom: 1px solid $app-color-lsilver;  }

        // Popular projects > Block 
        &__block{ @include blockPadding; }
        
        @include localHeader($app-color-gray);

        // Popular projects > Block > Head
        &__block &__head{
                display:flex;
                justify-content:space-between;
                align-items:center;
                min-width:100%;
        }

        // Popular projects > Block > Head > Switchers
        &__block  &__head &__switchers{
                display:flex;
                &-item{
                        display:block;
                        position: relative;
                        width:4rem;
                        height: 4rem;

                        &:nth-child(1){
                                margin-right:1rem;
                        }
                        
                        &_effect{
                                border-radius:100%;
                                border: 2px solid $app-color-gray;
                                cursor:pointer;
                        }
                                    
                        &:focus{  outline: none;  }
                                    
                        .material-icons{
                                font-size: $font-size-big;
                                color:$app-color-gray;
                        }
                }
        }

        // Popular projects > Block > Inner
        &__block  &__inner{
                display:grid;
                margin-top:3.5rem;
                grid-auto-flow: column;
                grid-column-gap:1.5rem;
        }

        // Popular projects > Block > Article
        &__block  &__inner &__article{
                display: inline-block;
                position: relative;
                min-height:100%;
                width:348px; 

                &_modifier{
                        @include transition;
                        box-shadow: -6px 8px 20px rgba(0, 0, 0, 0.1);
                }

                &-link{
                        display: grid;
                        grid-template-columns: 1fr;
                        grid-template-rows: 1fr;
                        height: 100%;
                }

                &-header{
                        padding:1rem;

                        &--title{
                                margin-top: 1rem;
                                font-size: $font-size-extra-normal;
                                line-height: 2rem;
                        }

                        &--desc{
                                margin-top: 1rem;
                                font-size: $font-size-normal;
                                line-height: 1.75rem;
                        }

                        &--date{  margin-top: 1rem; }

                        &--tags{
                                display: block;
                                margin-top: 1rem;
                        }

                        .text-dark{ color:$app-color-dark; }

                        .text-light{ color:$app-color-white;  }
                }

                &-artwork{
                        position: relative;

                        &--image{
                                width:100%;
                                height: auto;
                                transform:translateY(2px);
                        }
                }
        }
}

/*-----------------------------
*            Archives
*----------------------------*/

.archives{
        @include sectionDefinition;

        &_theme{  background-color:  $app-color-white; }

        // Archives > Block 
        &__block{ @include blockPadding; }

         // Archives > Block > Header
         &__block &__header{   @include sectionHeaderCenter(40rem, $app-color-gray,$app-color-blue);  }

         // Archives > Block > Inner
         &__block  &__inner{
                display:grid;
                margin-top:3.5rem;
                grid-template-columns: 1fr 1fr;
                grid-gap: 3.5rem;
         }

        // Archives > Block > Inner > Article
         &__block &__inner &__article{
                margin:auto;
                 padding: 1.5rem 1.5rem;
                 width:100%;
                 max-width:600px;

                 &_modifier{ 
                        @include boxStyling;
                        @include transition;
                }

                &:hover{ box-shadow: 0 1px 6px 0 rgba(0,0,0,0.16); }

                 &-wrapper{
                        display:grid;
                        grid-template-columns: 0.5fr 1fr;
                        align-items:center;
                        grid-gap:2rem;
                 }

                 &-artwork{
                        position: relative;
    
                        &--image{
                                display: block;
                                width: 8.5rem;
                                height:8.5rem;
                        }
                }

                &-header{
                        &--title{  @include boxHeading($font-size-extra-normal, $app-color-gray);}

                        &--desc{  @include boxDescContent($font-size-normal, $regular-weight, $app-color-silver) ;}

                        &--date{  margin-top: 0.5rem; @include boxDescContent($font-size-normal, $regular-weight, $app-color-silver); }
                }
         }
}

/*-----------------------------
*      PaginationNav
*----------------------------*/

.pagination-nav{
        @include sectionDefinition;
        
        &_theme{  background-color: $app-color-white; }

         // Pagination-nav > Block 
        &__block{   @include blockPadding(1rem, 0, 6rem) }

        // Pagination-nav > Block > List
        &__block  &__list{
                @include boxCenter;

                &-link{
                        display:inline-block;
                        position:relative;
                        padding:0.7rem 0.8rem;

                        &_effect{
                                font-size:$font-size-extra-normal;
                                border: 2px solid $app-color-gray;
                                color:$app-color-gray;
                        }
                }
        }
}

/*-----------------------------
*        RWD System
*----------------------------*/

//Very large screen
@media (max-width: 1366px) {
        // Latest Projects 
        .latest-projects{
                // Latest Projects > Block > Inner > Article
                &__block  &__article{   min-height: 18rem;     }
        }
}

//Desktops, large screens
@media (max-width: 1200px) {
        // Latest Projects 
        .latest-projects{

                &__block  &__inner{
                        grid-template-columns: repeat(3,1fr);
                        grid-template-rows: repeat(2,1fr);
                }

                &__block &__article{   
        
                        &:nth-child(1){
                                grid-column-start: 1;
                                grid-column-end: 2;
                                grid-row-start: 1;
                                grid-row-end: 2;
                        }
                }
        }
}


//Small screens, laptops
@media (max-width: 960px) {

        // Latest Projects 
        .latest-projects{

                &__block  &__inner{
                        grid-template-columns: repeat(2,1fr);
                }

                &__block &__article{   min-height: 20rem;  }
        }

        .archives{
                &__block  &__inner{
                        grid-template-columns: repeat(1,1fr);
               }
        }
}

//iPads, Tablets
@media (max-width: 768px) {

        // Latest Projects 
        .latest-projects{

                &__block  &__inner{
                        grid-template-rows: repeat(1,1fr);
                        grid-template-columns: repeat(1,1fr);
                }

                &__block &__article{    min-height: 25rem;  }
        }
}

//Mobile devices (horizonal)
@media (max-width: 576px) {

        // Projects banner 
        .projects-banner{
                &__block &__header{   
                        @include sectionHeaderLeftV2(40rem, $app-color-white, $app-color-blue);
                }
        }

        // Latest Projects 
       .latest-projects{
                &__block &__article{    min-height: 17.5rem;   }
        }
}
