
/*-----------------------------------------------------
 * Search (https://www.damianbarszcz.com)
 * Copyright 2021 Damian Barszcz
 *-----------------------------------------------------*/

 /*-----------------------------
*      Search manager
*----------------------------*/

.search-manager{
        @include sectionDefinition;

        &_theme{ background-color: $app-color-purple; }

        // Search manager > Block
        &__block{ @include blockPadding(8rem, 0, 4rem); }

        // Search manager > Block > Inner
        &__block &__inner{
                @include sectionHeaderCenter(30rem);  
        }       

        &__block &__inner &__header{
                @include sectionHeaderCenter(30rem, $app-color-white);  
        }       
        
        // Search manager > Block > Inner > Form
        &__block &__inner &__form{
                position: relative;
                margin-top: 2rem;
                
                &--input{
                        padding-right:4rem;
                        background-color:$app-color-white;
                        border-radius: 5px;
                        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                        border: 1px solid $app-color-lsilver;
                        font-size:$font-size-normal;
                        color: $app-color-gray;
                }

                &--button{
                        position: absolute;
                        top:1rem;
                        right:1rem;
                        cursor: pointer;
                        color: $app-color-gray;
                }
        }
}

/*-----------------------------
*            GL search
*----------------------------*/

.gl-search{
        @include sectionDefinition;

        &_theme{ background-color: $app-color-white; }

         // GL search > Block
        &__block{ @include blockPadding(6rem, 0, 6rem); }

         // GL search > Block  > Header
        &__block &__header{
            @include sectionHeaderLeft( 40rem, $app-color-gray, $app-color-white, $font-size-extra-normal)
        }

        // / GL search > Block > Inner
        &__block &__inner{
                margin-top:2rem;
                @include  inlineRepeatColElements(3, 1fr, 3rem);
         }

        // GL search > Block  > Inner > Article
        @include articleItems;

         // GL search > Block > Inner > Noarticle
        &__inner &__noarticle{
                position: relative;
                grid-column-start: 1; 
                grid-column-end: 4;  
                min-height: 18.75rem;

                &-header{
                        position: absolute;
                        left:50%;
                        top:50%;
                        transform:translate(-50%,-50%);

                        &_modifier{   text-align:center;   }

                        @include boxHeading($font-size-big,$app-color-gray);  

                        &--desc{margin-top: 2rem;@include boxDescContent; }
                }
        }
}

/*-----------------------------
*          RWD System
*----------------------------*/

//Desktops, large screens
@media (max-width: 1200px) {

        .gl-search{
                &__block &__inner{ @include  inlineRepeatColElements(3, 1fr, 1.5rem);  }
        }
}
//Small screens, laptops
@media (max-width: 960px) {
        .gl-search{
                &__block &__inner{ @include  inlineRepeatColElements(2, 1fr, 1.5rem);  }
        }
}

//iPads, Tablets
@media (max-width: 768px) {
        .gl-search{
                &__block &__inner{    @include  inlineRepeatColElements(2, 1fr, 1rem);   }
        }
}

//Mobile devices ( horizontal)
@media (max-width: 576px) {

        .gl-search{
                &__block &__inner{    @include  inlineRepeatColElements(1, 1fr, 1.5rem);      }
        }
}
