/*-----------------------------------------------------
 * Mixins (https://www.damianbarszcz.com)
 * Copyright 2021 Damian Barszcz
 *-----------------------------------------------------*/

/*---------------------------------
*               Headers
*---------------------------------*/

@mixin sectionHeaderCenter(
        $size:40rem, 
        $textColor:$app-color-black,
        $subColor:$app-color-white, 
        $titleSize:$font-size-extra-huge, 
        $descSize:$font-size-extra-normal,
        $subtitleSize:$font-size-small
        ){
        
        @include boxCenter($size);

        &--subtitle{  @include boxHeading($subtitleSize,$subColor);   font-weight: $ultra-bold-weight; margin-bottom:0.5rem; text-transform: uppercase; }
                        
        &--title{  @include boxHeading($titleSize, $textColor);   font-weight: $ultra-bold-weight; margin-bottom:0.5rem; }

        &--desc{   @include boxDescContent($descSize, $regular-weight, $textColor);   }

        &--button{ margin-top:2rem; }
}

@mixin sectionHeaderLeft(
        $size:40rem, 
        $textColor:$app-color-black,
        $subColor:$app-color-white,
        $titleSize:$font-size-extra-huge, 
        $descSize:$font-size-extra-normal,
        $subtitleSize:$font-size-small
         ){
        
        @include boxLeft($size);

        &--subtitle{  @include boxHeading($subtitleSize, $subColor);    font-weight: $ultra-bold-weight; margin-bottom:0.5rem; text-transform: uppercase; }
                        
        &--title{  @include boxHeading($titleSize, $textColor);  font-weight: $ultra-bold-weight; margin-bottom:0.5rem; }

        &--desc{   @include boxDescContent($descSize, $regular-weight, $textColor);   }

        &--button{ margin-top:2rem; }
}

@mixin sectionHeaderLeftV2($size:40rem, $titleColor:$app-color-gray, $titleStrongColor:$app-color-gray){
        
        @include boxLeft($size);
                        
        &--title{  @include boxHeading($font-size-big, $titleColor); }

        strong{  color:$titleStrongColor;  }
}

@mixin sectionHeaderCenterV2($size:40rem, $titleColor:$app-color-gray, $titleStrongColor:$app-color-gray){
        
        @include boxCenter($size);
                        
        &--title{  
                display: flex;
                justify-content: center;
                font-weight: $light-weight; 

                @include boxHeading($font-size-huge, $titleColor); 

                strong{  
                        padding-right: 1rem;  
                        color:$titleStrongColor;  
                }
        }
}

@mixin  articleHeaderLeft($size:100%, $color: $app-color-white, $titleSize:$font-size-normal){
        
        @include boxLeft($size);
                        
        &--title{   @include boxHeading( $titleSize, $color);   }

        &--subtitle{  
                @include boxHeading($font-size-normal, $color);  

                margin-top:1.5rem;
        }

        &--date{  
                @include boxHeading($font-size-normal, $color);  

                margin-top: 0.5rem;
        }

        &--tags{  
                margin-bottom: 0.5rem;
                padding: 0.35rem 0.85rem;
                width: fit-content;
                background-color:$app-color-blue;

                @include boxHeading($font-size-small, $color);  
        }
}

@mixin localHeader($color:$app-color-gray){

        &__header{
                display: inline-block;
                padding-bottom:0.25rem;
    
                &_modifier{ border-bottom: 2px  solid $color; }

                &--title{
                        @include boxHeading($font-size-normal, $color);
                        text-transform: uppercase;
                }
        }
 }

/*---------------------------------
*              Blog brand
*---------------------------------*/

@mixin blogBrand($lg_wth:10.2rem, $lg_hgh:2rem, $mainHeader:false){
        
        &__brand{
                @if $mainHeader{  text-align: center; }
                
                // Brand > Logo
                &-logo{
                        width:$lg_wth;
                        height: $lg_hgh;
    
                        &--yellow{ fill:$app-color-yellow; }
                        &--blue{ fill:$app-color-blue; }
                        &--red{ fill:$app-color-red; }
                        &--green{ fill:$app-color-green; }
                        &--dark{fill:$app-color-silver;    }
                }
        }

        //iPads, Tablets
        @media (max-width: 768px) {

                &__brand{
                        grid-column-start:2;
                        grid-column-end:6;
                        text-align: center;

                        @if $mainHeader{
                                padding:0rem 0 0rem;
                                text-align: center;
                        }
                }
        }
}

/*---------------------------------
*        Navigation menu
*---------------------------------*/

@mixin navMenu($menuName:"navigation",$mainHeader:false){

        &__menu{
                text-align: center;

                @if $mainHeader{  margin-top:2rem; }

                &-toggle{ display: none; }
                
                &-list{
                        list-style: none;
                        padding: 0;

                        &--mobile{ display: none; text-align: left; }

                        &--desktop{ display: inline-block; }

                        &-item{  
                                display: inline; 
                                position: relative; 
                        
                                @for $i from 1 through length($blog-color) {
                                        &:nth-child(#{$i}) {
                                                .#{$menuName}__menu-list-link{

                                                        &--desktop{

                                                                &::after{ 
                                                                        @extend .nav-link-color; 
                                                                        background-color:nth($blog-color,$i) 
                                                                }  
        
                                                                &:hover{  
                                                                        color: nth($blog-color,$i);
                                                                        &::after{ opacity: 1; transform: translateY(15px); }
                                
                                                                        &:focus{ opacity: 1; transform: translateY(15px);  }
                                                                }  
                                                        }
                                                }
                                        }
                                }
                        }
                        
                        &-link{
                                padding: 0rem 0.75rem 1rem;
        
                                &_effect{
                                        transition:$FastEaseInOut;
                                        text-transform: uppercase;
                                        font-size:$font-size-normal;
                                        font-weight:$bold-weight;
                                        color:$app-color-gray;
                                }
                        }
                }
        }

        //iPads, Tablets
        @media (max-width: 768px) {
                &__menu{
                        position: absolute;
                        left:0;
                        top:1rem;
                        grid-column-start: 1;
                        grid-column-end:2;

                        @if $mainHeader{  top:-1rem; }

                        &-toggle{
                                display: block;
                                position: absolute;
                                width:2.35rem;
                                height:2.35rem;
                                cursor: pointer;
                        }

                        &-list{
                                position: fixed;
                                padding:1rem 1.5rem 1rem;
                                top:0;
                                left:0;
                                width:45%;
                                min-height: 100%;
                                overflow-y: scroll;

                                &-item{
                                        display: block;
                                        position: relative;
                                        width:100%;
                                }

                                &-brand{ margin-bottom:2rem; }
                                
                                &-link{
                                        display: block;
                                        padding:1rem 0rem;
                                        margin-bottom: 0.75rem;
                                        width:100%;

                                        &_effect{ font-size: $font-size-normal * 1.1;}
                                }

                                &_modifier{
                                        background-color:$app-color-white;
                                        border-right: 1px solid $app-color-lsilver;
                                        z-index:10000;
                                }

                                &--desktop{ display: none;}

                                &--mobile{ display: block; }

                                &--open{
                                        animation-name:  slide-left;
                                        animation-duration:0.5s;
                                        animation-fill-mode: forwards;
                                }

                                &--close{
                                        animation-name:  slide-right;
                                        animation-duration:0.5s;
                                        animation-fill-mode: forwards;
                                }
                        }
                }
        }

        //Mobile devices (horizonal)
        @media (max-width: 576px) {
                &__menu{ &-list{    width:60%;  }}
        }
}

/*---------------------------------
*       Navigation search
*---------------------------------*/

@mixin navSearch($menuName:"main-header",$mainHeader:false){

        &__trigger{  
                text-align: right; 

                @if $mainHeader{
                        position: absolute;
                        right:0;
                        bottom:2.5rem;
                }

                &--open{  color:$app-color-gray;   }
        }

        &__search{
                grid-column-start: 1;
                grid-column-end: 4;
                
                &-form{
                        display: flex;
                        margin: auto;
                        width: 25.125rem;
                        height:3rem;

                        .form__input{                  
                                height:3rem; 
                                border:none;  
                                background-color:$app-no-color;
                        }

                        .form__button{    
                                &--search, &--close{
                                        color:$app-color-gray;
                                }
                        }
                }
        }

        //iPads, Tablets
        @media (max-width: 768px) {
                &__trigger{
                        grid-column-start:6;
                        grid-column-end:7;

                        @if $mainHeader{
                                top:1.35rem;
                                grid-column-start:6;
                                grid-column-end:7;
                        }
                }

                &__search{
                        grid-column-start: 1;
                        grid-column-end: 7;
                }
        }

        //Mobile devices
        @media (max-width: 480px) {
                &__search{
                        &-form{
                                max-width: 100%;
                        }
                }
        }
}

/*---------------------------------
*         Article sharing
*---------------------------------*/

@mixin articleShare($typeSection:'navigation'){
        
         // Navigation > Sharing
         &__sharing{
                @if $typeSection == 'navigation' {
                        position: absolute;
                        right:0;
                        top:50%;
                        transform: translate(0%, -50%);
                }

                @else{   position:relative;     }

                // Navigation > Sharing > Social buttons
                &-social{
                        display:inline-block;
                        position: relative;
                        margin-right:1rem;
                        width:2rem;
                        height:2rem;
                        border-radius:100%;

                        &_modifier{ border-radius:100%; }

                        &:nth-child(3){    margin-right:0rem;  }

                        // Facebook button
                        &--facebook{
                                border:0.15rem solid $facebook-color;
                                color:$facebook-color;
                        }
                        // Twitter button
                        &--twitter{
                                border:0.15rem solid $twitter-color;
                                color:$twitter-color;
                        }

                        // Envelope button
                        &--envelope{
                                border:0.15rem solid $app-color-purple;
                                color:$app-color-purple;
                        }

                         // Navigation > Sharing > Social buttons > Social icons
                          .social__icon{
                                position:absolute;
                                left:50%;
                                top:50%;
                                transform:translate(-50%, -50%);
                          }
                            
                }
        }
}


////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////

/*---------------------------------
*        Section header
*---------------------------------*/

@mixin localHeader($color:$app-color-gray){

        &__header{
                display: inline-block;
                padding-bottom:0.25rem;
    
                &_modifier{ border-bottom: 2px  solid $color; }

                &--title{
                        @include boxHeading($font-size-normal,$color);
                        text-transform: uppercase;
                }
        }
 }

/*---------------------------------
*     Section definitions
*---------------------------------*/

        @mixin sectionDefinition {
                position: relative;
                min-width: 100%;
                z-index:1;
        }

        @mixin blockPadding($top:6rem, $left:0rem, $bottom:6rem, $right:0rem){
                padding: $top $left $bottom $right;
        }

        @mixin accountPadding($top:1rem, $left:2.5rem, $bottom:1rem, $right:22.5rem){
                padding: $top $left $bottom $right;
        }

/*---------------------------------
*           Section elements 
*---------------------------------*/

        @mixin inlineRepeatElements($nr_elem:3, $rowSize: 1fr, $columnSize: 1fr, $vertical:center,$space: 2rem){
                display: grid;
                grid-template-columns: repeat($nr_elem,$columnSize);
                grid-template-rows: repeat($nr_elem,$rowSize);
                align-items: $vertical;
                grid-column-gap: $space;
                grid-row-gap:$space;
        }

        @mixin inlineRepeatColElements($nr_elem:3, $columnSize: 1fr,$space: 1rem){
                display: grid;
                grid-template-columns: repeat($nr_elem,$columnSize);
                grid-column-gap: $space;
                grid-row-gap:$space;
        }

        @mixin inlineRepeatRowElements($nr_elem:3, $rowSize: 1fr,$space: 1rem){
                display: grid;
                grid-template-rows: repeat($nr_elem,$rowSize);
                grid-column-gap: $space;
                grid-row-gap:$space;
        }

        @mixin inlineSpecyficElements($vertical:center){
                display: grid;
                align-items: $vertical;
        }

        @mixin inlineFlexSpecyficElements($vertical:center){
                display: flex;
                align-items: $vertical;
        }

        @mixin inlineFlexStartElements{
                display: flex;
                align-items: center;
        }

        @mixin inlineFlexBetweenElements{
                display: flex;
                justify-content: space-between;
                align-items: center;
        }

        @mixin inlineFlexCenterElements{
                display: flex;
                justify-content: center;
                align-items: center;
        }

/*---------------------------------
*              Box settings
*---------------------------------*/

        @mixin boxStyling {
                background-color:$app-color-white;
                border: 1px solid $app-color-lsilver;
                border-radius: 0.5rem;
        }

        @mixin boxStylingDark {
                background-color:$app-color-dark;
                border: 1px solid darken($app-color-dark, 30%);
                border-radius: 0.5rem;
        }

        @mixin boxCenter($width:45rem){
                margin:auto;
                max-width:$width;
                text-align: center;
        }

        @mixin boxLeft($width:45rem){
                margin-right:auto;
                max-width:$width;
                text-align: left;
        }

        @mixin boxRight($width:45rem){
                margin-left:auto;
                max-width:$width;
                text-align: left;
        }

        @mixin boxInnerLink{
                display: block;
                position:absolute;
                padding:1rem;
                left:0;
                top:0;
                width:100%;
                height: 100%;
                text-decoration: none;    
        }


@mixin sectionArticleHeaderCenter($size:31.5rem, $color: $app-color-gray, $strongColor:$app-color-blue){
        
        @include boxCenter($size);
                        
        &--title{  
                @include boxHeading($font-size-huge, $color);  
        }

        &--subtitle{  
                margin-top:1.5rem;
                @include boxHeading($font-size-extra-normal, $color);  
        }
}

@mixin sectionArticleHeaderLeft($size:31.5rem, $color: $app-color-gray, $strongColor:$app-color-red){
        
        @include boxLeft($size);
                        
        &--title{  
                @include boxHeading($font-size-extra-big, $color);  
        }

        &--subtitle{  
                margin-top:1.5rem;
                @include boxHeading($font-size-extra-normal, $color);  
        }
}

/*---------------------------------
*              Box content
*---------------------------------*/

        // Box heading
        @mixin boxHeading($font-size:$font-size-extra-normal,$text-color:$app-color-gray){
                $styleHeight:0rem;


                @if $font-size>=$font-size-extra-huge{ $styleHeight: 5rem;  }

                @else if $font-size>=$font-size-huge{ $styleHeight: 3rem; }

                @else if $font-size>=$font-size-extra-big{ $styleHeight: 4.5rem; }

                @else if $font-size>=$font-size-big{$styleHeight: 2.5rem;  }

                @else if $font-size>=$font-size-extra-normal{  $styleHeight: 2.35rem;  }

                @else if $font-size>=$font-size-normal{ $styleHeight: 2rem;  font-weight: $bold-weight;}

                @else if $font-size>=$font-size-small{ $styleHeight: 1.5rem; }

                @else if $font-size>=$font-size-extra-small{ $styleHeight: 1rem;  }
                
                line-height: $styleHeight;
                font-size:$font-size;
                color:$text-color;
        }

        // Box descryption content
        @mixin boxDescContent($font-size:$font-size-normal, $style-weight:$regular-weight, $text-color:$app-color-silver){
                $styleHeight:0rem;

                @if $font-size>=$font-size-extra-normal{  $styleHeight: 2.35rem;    }

                @else if $font-size>=$font-size-normal{  $styleHeight: 2rem;    }

                @else if $font-size>=$font-size-small{ $styleHeight: 1.5rem;    }

                @else if $font-size>=$font-size-extra-small{  $styleHeight: 1rem;    }

                line-height: $styleHeight;
                font-size:$font-size;
                font-weight:$style-weight;
                color:$text-color;
        }
              
/*---------------------------------
*                 Buttons
*---------------------------------*/

        @mixin pageButton($btn-width:100px) {
                @if($btn-width <= 100px){   font-size:$font-size-normal*0.8; padding: $btn-width*0.15 $btn-width*0.2; line-height: 1rem; }

                @else if($btn-width <= 130px){
                        font-size:$font-size-normal*0.9; padding: $btn-width*0.15 $btn-width*0.2; line-height: 1.5rem;
                }

                @else{  font-size:$font-size-normal; padding: $btn-width*0.1 $btn-width*0.2;  }

                display: inline-block;
                position: relative;
                min-width:$btn-width;
                height:$btn-width * 0.5;
                box-shadow: -6px 8px 20px rgba(0, 0, 0, 0.1);
                border-radius: 0.3125rem;
                font-family:$page-font;
                font-weight: $ultra-bold-weight;
                text-transform:uppercase;
                white-space: nowrap;
                cursor: pointer;
                z-index:100;
                outline: none;
                text-align: center;

                @include transition(0.2s);
        }

/*---------------------------------
*                 Loading
*---------------------------------*/

       @mixin loading-spinner($activeColor: $app-color-purple, $selector: "&::before", $time: 0.5s) {

        @keyframes spinner {
                
                0% { transform: translate3d(-50%, -50%, 0) rotate(0deg);  }

                100% {  transform: translate3d(-50%, -50%, 0) rotate(360deg);  }
        }

        position: absolute;
        animation-play-state: running;
        opacity: 1;
        
        &.-paused { 
                animation-play-state: paused; 
                opacity: 0.2;
                transition: opacity linear 0.1s;
        }

        #{$selector} {
                        position: absolute;
                        top:50%;
                        right:0;
                        left:50%;
                        height: 27px;
                        width: 27px;
                        content: "";
                        animation: $time linear infinite spinner;
                        animation-play-state: inherit;
                        border: solid 3px $app-color-white;
                        border-bottom-color: #{$activeColor};
                        border-radius: 50%;
                        opacity: inherit;
                        will-change: transform;
                        transform:translate(-50%,-50%);
                }
        }

/*---------------------------------
*                 Artwork
*---------------------------------*/

        @mixin articleImage{
                background-size:cover !important;
                background-repeat: no-repeat !important;
                background-position: 50% 50% !important;
        }

        @mixin fullImage{
                background-repeat: no-repeat;
                background-size:contain;
                background-position: center;
        }

        @mixin setItemArtwork($height: 27.5rem){
                width: 100%;
                height: $height;
                object-fit: cover;
        }

        @mixin  backgroundBlockArtwork($wth: 26rem, $hgh:26rem){
                display:inline-block; 
                width:$wth;
                height:$hgh;
                overflow: hidden;
                background-size: cover !important;
                background-repeat: no-repeat !important;
        }

/*---------------------------------
*            Article items
*---------------------------------*/

@mixin articleItems($carousel:false, $mainPage:false){

        // Block > Inner
        &__inner{
                @if  $mainPage{ margin-top:0rem;  }

                @else{   margin-top:3.5rem;}

                @if $carousel{
                        display: grid;
                        grid-auto-flow: column;
                        grid-gap: 3em;
                }

                @else if $mainPage{ @include  inlineRepeatColElements(1, 1fr, 0rem);  }

                @else{    @include  inlineRepeatColElements(3, 1fr, 3rem); }
        }
                
        // Block > Inner > Article
       &__inner &__article{
                @if $mainPage{ padding:2rem;}
                @else{ padding:1.25rem 1rem;   }

                @if $carousel{ width:348px; }

                &_modifier{
                        @if $mainPage{
                                @include boxStyling;
        
                                &:hover{  box-shadow: -6px 8px 20px rgba(0, 0, 0, 0.1); }
                        }

                        @else{
                                @include boxStyling;
                                
                                &:hover{ box-shadow: 0 1px 6px 0 rgba(0,0,0,0.16); }
                        }

                        @include transition;
                } 
                @if $mainPage{
                        &-link{                 
                                display: grid;
                                grid-template-columns: 1fr;
                                min-height: 100%;
                        }     

                        &-content{
                                display: flex;
                                width: 100%;
                                justify-content: space-between;
                                align-items: center;
                        }

                        &-media{
                                min-width: 100%; 
                                
                                &--artwork{  @include setItemArtwork(35rem);  min-width: 100%; }
                        }
                 }

                @else{
                        &-link{                 
                                display:flex;
                                flex-flow: row wrap;
                                justify-content: space-between;  
                                align-items: center;
                                min-height: 100%;
                        }

                        &-media{
                                @include articleImage;
                                width:100%;
                                height: 12.5rem;
                        }
                 }
                 
                &-header{
                        margin-top:1rem;
                        @if $mainPage{
                        max-width:50rem;

                                &--title{  @include boxHeading($font-size-extra-normal, $app-color-gray);}

                                &--desc{  @include boxDescContent($font-size-normal, $regular-weight, $app-color-silver); white-space: pre-wrap; line-height: 2.5rem}
                        }

                        @else{
                                &--title{  @include boxHeading($font-size-normal, $app-color-gray); }

                                &--desc{  @include boxDescContent; white-space: pre-wrap; }                              
                        }
                }

                &-category{       
                        margin-top:1rem;
                        @include pageButton(90px);
                }

                $bookCategory: (#{$app-color-red}:"programowanie", #{$app-color-blue}:"rozwój", #{$app-color-yellow}:"astrofizyka", #{$app-color-green}:"biznes");

                @each $color, $category in $bookCategory {
                        [data-book-category="#{$category}"]{
                                border:0.15rem solid $color;
                                color:$color;
                        }
                }

                [data-article-category="Book"]{
                        border:0.15rem solid $app-color-red;
                        color:$app-color-red;
                }

                [data-article-category="Project"]{
                        border:0.15rem solid $app-color-blue;
                        color:$app-color-blue;
                }
        }

        //Small screens, laptops
        @media (max-width: 960px) {
                &__inner &__article{
                        @if $mainPage{
                                &-media{
                                        &--artwork{  @include setItemArtwork(30rem);   }
                                }
                        }
                }
        }

        //Mobile devices (horizonal)
        @media (max-width: 768px) {
                &__inner &__article{
                        @if $mainPage{
                                &-media{
                                        &--artwork{  @include setItemArtwork(20rem);   }
                                }
                        }
                }
        }

        //iPads, Tablets
        @media (max-width: 576px) {
                &__inner &__article{
                        @if $mainPage{
                                &-media{
                                        &--artwork{  @include setItemArtwork(15rem);   }
                                }
                         }
                }
        }
}


@mixin  innerProjectDisplay($className){
        
         // Latest projects > Block > Inner
        &__inner{
                display: grid;
                grid-template-columns: 0.75fr 1fr;
                grid-auto-rows: 1fr;
                grid-column-gap: 7.5rem;
                margin-top:3.5rem;
                        
                &-left{

                        .#{$className}__article{
                                display:flex;
                                flex-flow: column wrap;
                                justify-content: space-between;
                
                                &_modifier{
                                        @include boxStyling;
                                        @include transition;
                
                                        &:hover{ box-shadow: 0 1px 6px 0 rgba(0,0,0,0.16); }
                                } 

                                &-link{ @include boxInnerLink; }

                                &-header{
                                        margin-bottom:1rem;
                                        
                                        &--title{  @include boxHeading($font-size-extra-normal, $app-color-gray); margin-bottom:1rem; }

                                        &--desc{  @include boxDescContent; white-space: pre-wrap; }
                                }

                                &-artwork{  @include setItemArtwork(100%);  }
                        }
                }
                        
                // Latest projects  > Inner > Right
                &-right{
                        display: grid;
                        grid-auto-rows: 1fr;
                        grid-row-gap: 3.5rem;

                        .#{$className}__article{
                
                                &_modifier{
                                        @include boxStyling;
                                        @include transition;
                
                                        &:hover{ box-shadow: 0 1px 6px 0 rgba(0,0,0,0.16); }
                                } 

                                &-link{                                
                                        display: grid;
                                        grid-template-columns: 1fr 0.7fr;
                                        grid-column-gap: 3rem;
                                        padding: 1.5rem 1rem;
                                }

                                &-header{
                                        &--title{  @include boxHeading($font-size-extra-normal, $app-color-gray); margin-bottom:1rem;}

                                        &--desc{  @include boxDescContent; white-space: pre-wrap; }
                                }

                                &-artwork{  @include  backgroundBlockArtwork(12.5rem,12.5rem) }
                        }
                }
        }
}

/*---------------------------------
*        Account article item
*---------------------------------*/

@mixin accountArticleItem(){

        @include sectionDefinition;

        &_theme{ background-color:$app-color-white; }

                //  accountArticleItem > Block 
                &__block{ @include accountPadding }

                // accountArticleItems > Block > Inner
                &__block &__inner{
                        @include inlineRepeatColElements(4, 1fr, 2rem);

                        // accountArticleItem > Block > Inner > Item
                        &-item{
                                @include inlineFlexBetweenElements;
                                flex-flow: column wrap;
                                padding:2rem 1.75rem;

                                @include boxStyling;

                                //  accountArticleItem > Block > Inner > Item > Header
                                &-header{
                                        &--title{ @include boxHeading($font-size-extra-normal);    }

                                        &--desc{ display:block; padding-top:1rem;  @include boxDescContent; }
                                }

                                //  accountArticleItem > Block > Inner > Item > Category
                                &-category{
                                        margin-top:0.5rem;
                                        min-width: 100%;

                                        &--desc{ @include boxDescContent; }

                                        $bookCategory: (#{$app-color-red}:"programowanie", #{$app-color-blue}:"rozwój", #{$app-color-yellow}:"astrofizyka", #{$app-color-green}:"biznes");

                                        @each $color, $category in $bookCategory {
                                                [data-book-category="#{$category}"]{
                                                        color:$color;
                                                }
                                        }
                                }

                                // accountArticleItem > Block > Inner > Item > Pub
                                &-pub{
                                        @include inlineFlexBetweenElements; 
                                        margin-top:1rem;
                                        min-width: 100%;

                                        &--author{ @include boxDescContent($font-size-small);  }

                                        &--date{ @include boxDescContent($font-size-small);    }

                                        &--type{ @include boxDescContent($font-size-small);    }
                                }

                                 // accountArticleItem > Block > Inner > Item > Pub
                                 &-prop{
                                        margin-top:1rem;
                                        margin-right: auto;
                                
                                        &--desc{
                                               @include boxDescContent($font-size-small); 
                                                margin-bottom:1rem;
                                        }
                                 }

                                // accountArticleItem > Block > Inner > Item > Tags
                                &-tags{
                                        margin-right:auto;
                                        margin-top:1.5rem;
                                
                                        &-item{
                                                display: inline-block;
                                                padding: 0.5rem 0.8rem;
                                
                                                &_modifier{
                                                        font-size:$font-size-normal * 0.9;
                                                        font-weight:$bold-weight;
                                                }
                                        }
                                        
                                        @for $i from 4 through length($blog-color) {
                                                &:nth-child(#{$i}) {
                                                        border: 2px solid nth($blog-color,$i);
                                                        color:nth($blog-color,$i);
                                                }
                                        }
                                }

                        // accountArticleItem > Block > Inner > Item > Action
                        &-action{
                                margin-top:2.5rem;
                                min-width:100%; 
                                
                                &-buttons{ @include inlineFlexBetweenElements; }
                         }
                }
        }
}

/*-------------------------------------------
*   Create & Update Publication
*-------------------------------------------*/

@mixin pubCreator(){
        @include sectionDefinition;

        // pubCreator > Block
        &__block{ @include accountPadding }
        
                // pubCreator > Block > Inner > Form
                &__block &__inner &__form{
                        @include  inlineRepeatRowElements($nr_elem:2, $rowSize: 1fr,$space: 2.5rem);
                        grid-template-columns: 1fr 1fr 0.65fr;

                        // pubCreator > Block > Inner > Form > Content
                        &-content{
                                grid-column-start: 1;
                                grid-column-end: 3;
                                grid-row-start: 1;
                                grid-row-end: 3;

                                &-field{  padding-bottom:2.5rem;   }

                                &-field--inline{  
                                        display:grid; 
                                        position: relative;
                                        grid-template-columns: 1fr 0.7fr;
                                        grid-column-gap: 2.5rem;

                                        .pub_color-picker{
                                                display: block;
                                                position: absolute;
                                                border:1px solid $app-color-lsilver;
                                                right:1rem;
                                                top:1rem;
                                                width:2rem;
                                                height: 2rem;
                                        }
                                }
                        }

                        // pubCreator > Block > Inner > Form > Picture
                        &-picture{
                                display:flex;
                                flex-direction: column;
                                grid-column-start: 3;
                                grid-column-end: 4;
                                grid-row-start: 1;
                                grid-row-end: 2;

                                @include boxStyling;

                                // pubCreator > Block > Inner > Form > Picture > Header
                                &-header{
                                        padding: 0.75rem 1.5rem;
       
                                        &_modifier{ border-bottom: 1px solid $app-color-lsilver;  }
                                                
                                        &--title{ @include boxDescContent;   }
                                }

                                // pubCreator > Block > Inner > Form > Picture > Inner
                                &-inner{
                                        padding:1rem;
                                        min-width: 100%;
                                        height: 100%;
                                        
                                        &-space{
                                                @include  inlineFlexStartElements;
                                                flex-direction: column;
                                                justify-content: center;
                                                height: 90%;
                                                cursor: pointer;
                                                transition: $FastEaseInOut;

                                                &--desc{
                                                        margin-top:1rem;
                                                        text-align: center;
                                                }
                                        }

                                        .no-selected{
                                                border: 2px dashed $app-color-lsilver;
                                                @include boxDescContent($font-size-normal, $bold-weight, $app-color-silver); 
                                        }

                                        .pub-selected{
                                                border: 2px dashed $app-color-green;
                                                @include boxDescContent($font-size-normal, $bold-weight, $app-color-green);  
                                        }
                                }
                        }

                          // pubCreator > Block > Inner > Form > Categories
                          &-categories{               
                                grid-column-start: 1;
                                grid-column-end: 2;
                                grid-row-start: 3;
                                grid-row-end: 3;
                                max-height: 150px;

                                @include boxStyling;                          
                            
                                &-header{
                                        padding: 0.75rem 1.5rem;

                                        &_modifier{ border-bottom: 1px solid $app-color-lsilver;  }
                                                
                                        &--title{ @include boxDescContent;   }
                                }
                                
                                // pubCreator > Block > Inner > Form > Categories > Box
                                &-box{
                                        @include inlineRepeatColElements(4,1fr,0.5rem);
                                        justify-items:center;
                                        margin:0 0.75rem 1rem;
                                }

                                &-item{
                                        @include inlineFlexStartElements;
                                        position: relative;
                                        padding:1rem 0rem;

                                        &-label{ 
                                                display:block;
                                                cursor:pointer; 
                
                                                &-caption{
                                                        margin-left:0.25rem;
                                                        @include boxDescContent; 
                                                        font-size: 0.905rem;
                                                }
                                        }

                                        &-radio{
                                                display:inline-block;
                                                position: relative;
                                                height: 16px;
                                                width: 16px;
                
                                                &::before{
                                                        display:block;
                                                        position:absolute;
                                                        content:'';
                                                        left:50%;
                                                        top:50%;
                                                        transform:translate(-50%,-50%);
                                                        height: 8px;
                                                        width: 8px;
                                                        border-radius: 100%;
                                                }
                
                                                &_modifier{
                                                        transition: border .25s linear;
                                                        border-width:0.15rem;
                                                        border-style:solid;
                                                        border-radius: 100%;
                                                        z-index: 5;
                                                }
                                        }

                                        .category{
                                                &--astrophysics{ 
                                                        border-color: $app-color-blue;        
                
                                                        &::before{ background-color:$app-color-blue; }
                                                }
                
                                                &--programming{ 
                                                        border-color: $app-color-red; 
                
                                                        &::before{ background-color:$app-color-red; }
                                                }
                
                                                &--business{ 
                                                        border-color: $app-color-green; 
                
                                                        &::before{ background-color:$app-color-green; }
                                                }
                
                                                &--development{ 
                                                        border-color: $app-color-yellow; 
                
                                                        &::before{ background-color:$app-color-yellow; }
                                                }
                                         }
                
                                        .no-selected{  border-color: $app-color-gray; }
                                }
                                
                                input[name="review_category"]{
                                        position:absolute;
                                        visibility:hidden;
                                }
                        }

                        // pubCreator > Block > Inner > Form > Publish
                        &-publish{
                                @include boxStylingDark;
                                grid-column-start: 3;
                                grid-column-end: 4;
                                position: relative;
                                max-height: 17.5rem;

                                &-header{
                                        padding: 0.75rem 1.5rem;
               
                                        &_modifier{ border-bottom: 1px solid $app-color-gray;  }
                                        
                                        &--title{ @include boxDescContent($font-size-normal, $regular-weight, $app-color-white);   }
                                   }

                                &-status{
                                        position: relative;
           
                                        &-btn{
                                                @include  inlineFlexStartElements;
                                                padding: 1rem 1.5rem;
                                                border-bottom: 1px solid $app-color-gray;  
                                                cursor:pointer;
                                                
                                                @include boxDescContent($font-size-normal, $regular-weight, $app-color-yellow); 
                                                
                                                &-caption{
                                                        padding-right:1rem; 
                                                        color:$app-color-white;
                                                }
           
                                                .material-icons{
           
                                                        &-key{ padding-right:1rem; color:$app-color-white; }
           
                                                        &-arrow{
                                                                position: absolute;
                                                                right:1rem;
                                                                color:$app-color-white; 
                                                        }
                                                }
                                        }
                                }

                                &-run{
                                        display: flex;
                                        justify-content: space-between;
                                        padding:0 1rem;
                                        margin:1.25rem 0;
                                }
                        }
                }
}




/*---------------------------------
*            Animations
*---------------------------------*/

@mixin transition($speed:0.25s){
        transition:$speed ease-in-out;
}

@keyframes fadeIn{
        from{ opacity:0 }

        to{ opacity:1 }
}

@keyframes fadeOut{
        from{ opacity:0 }

        to{ opacity:1 }
}

@keyframes fadeOutSide{
        0%{ transform:translateX(0%); }

        100%{ transform:translateX(100%); }
}

@keyframes fadeInSide{
        0%{ transform:translateX(100%);  }

        100%{ transform:translateX(0%);  }
}


