/*-----------------------------
*        Animations
*----------------------------*/

@keyframes slide-down{
    0%{ transform:translateY(-100%); }

    100%{ transform:translateY(0); }
}

@keyframes slide-up{
    0%{  position: fixed; transform:translateY(0%); }

    100%{  position: absolute; transform:translateY(-100%); }
}

@keyframes slide-left{
        0%{   transform:translateX(-100%); }

        100%{  transform:translateX(0%); }
}

@keyframes slide-right{
        0%{   transform:translateX(0%); }

        100%{  transform:translateX(-100%); }
}

@keyframes rotate {
        100% {
            transform: rotate(360deg);
        }
  }
  
  @keyframes dash {
        0% {
            stroke-dasharray: 1, 200;
            stroke-dashoffset: 0;
        }
        50% {
            stroke-dasharray: 89, 200;
            stroke-dashoffset: -35px;
        }
        100% {
            stroke-dasharray: 89, 200;
            stroke-dashoffset: -124px;
        }
  }
  
  @keyframes color {
          100%,
          0% {  stroke: $app-color-red; }
          40% { stroke: $app-color-blue;  }
          66% { stroke: $app-color-green; }
          80%,
          90% {  stroke: $app-color-yellow; }
  }