/*-----------------------------------------------------
 * Footer (https://www.damianbarszcz.com)
 * Copyright 2020 Damian Barszcz
 *-----------------------------------------------------*/

/*-----------------------------
*        Primary footer
*----------------------------*/

.primary-footer{
        @include sectionDefinition;

        &_theme{
                background-color: $app-color-white;
                border-top: 1px solid $app-color-lsilver;
        }
        
        // Primary footer > Block
        &__block{ @include blockPadding(6rem, 0, 3rem); }

        // Primary footer > Inner 
        &__inner{
                display:grid;
                grid-template-columns: 1.2fr 0.8fr 0.8fr;
                grid-column-gap: 5rem;
        }

        // Primary footer > Inner > Box
        &__inner &__box{
                
                &:nth-child(4){
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-top:3.5rem;
                        grid-column-start: 1;
                        grid-column-end: 4;
                }

                &--title{  @include boxHeading($font-size-normal,  $app-color-gray); text-transform: uppercase ; margin-bottom:2rem; }

                &--desc{   @include boxDescContent($font-size-normal, $regular-weight, $app-color-gray);   }

                &-navigation{
                        margin-top:1.75rem;

                        .box-navigation__list{

                                &-item{
                                        padding-bottom:1rem;
                                }

                                &-link{
                                        @include boxDescContent($font-size-normal, $regular-weight, $app-color-gray);  

                                        &:hover{ color:$app-color-dark; }
                                }
                        }
                }

                &-copyright{ color:$app-color-gray;  }

                &-rules{
                        padding: 1rem 0rem;
                        
                        &__list{
                                display: inline;

                                &-item{
                                        display: inline-block;
                                        margin-left:2rem;

                                        .box-rules__list-link{
                                                @include boxDescContent($font-size-normal, $regular-weight, $app-color-gray);  

                                                &:hover{  color:$app-color-dark; }
                                        }
                                }
                        }
                }
        }
}

/*-----------------------------
*               RWD
*----------------------------*/

@media (max-width: 960px) {
        .primary-footer{

                 // Primary footer > Inner 
                &__inner{
                        grid-template-columns: repeat(3,1fr);
                        grid-column-gap: 5rem;
                }

                &__inner &__box{
                        margin-top: 3rem;

                        &:nth-child(1){
                                margin-top: 0rem;
                                grid-column-start: 1;
                                grid-column-end: 3;
                        }
                }
        }
}

@media (max-width: 768px) {
        .primary-footer{

                &__inner &__box{

                        &:nth-child(1){
                                grid-column-start: 1;
                                grid-column-end: 4;
                        }
                }
        }  
}