/*-----------------------------------------------------
 * Navigation (https://www.damianbarszcz.com)
 * Copyright 2021 Damian Barszcz
 *-----------------------------------------------------*/

/*-----------------------------
*           Navigation
*----------------------------*/

.navigation{
        position: absolute;
        min-width: 100%;

        &_theme{ 
                background-color:$app-color-white;  
                border-bottom: 1px solid  $app-color-lsilver;
                z-index:100;
        }

        // Navigation > Block  
        &__block{
                display: grid;
                grid-template-columns: 0.2fr 1fr 0.2fr;
                align-items: center;
                height: 4.25rem;
        }

        // Navigation > ...when scroll down
        &--scroll{
                position: fixed;
                box-shadow: 0 .125rem .3125rem rgba(0,0,0,.26);
                animation:slide-down 0.4s;
        }

        // Navigation > ...when scroll up
        &--noscroll{   animation:slide-up 0.4s;  }

        // Navigation >  Block > Post title
        &__post-title{
                position: absolute;
                left:50%;
                top:50%;
                transform: translate(-50%, -50%);

               &--caption{
                        @include boxDescContent($font-size-normal, $bold-weight, $app-color-gray);
               }
        }

        @include blogBrand;

        @include navMenu;

        @include navSearch;

        @include articleShare('navigation');
}

/*-----------------------------
*        RWD System
*----------------------------*/

// iPads, Tablets
@media (max-width: 768px) {
        .navigation{
                // Navigation > Block  
                &__block{  grid-template-columns: repeat(6,1fr);  }
        }
}